[2020-03-31 15:30] Gnafu commented on #321
@ElenaGallo please attach the data and the configuration here

[2020-03-31 15:31] ElenaGallo commented on #314
The issue occurs on OSM Dark background ( `osmgray:dark_bg`) in particular on this tile:

### Background config:

[2020-03-31 15:51] ElenaGallo commented on #314
The issue occurs on OSM Dark background ( `osmgray:dark_bg`) in particular on this tile:

### Background config:

raster located in this folder:

[2020-03-31 18:06] simboss commented on #319
@aaime can you list the modules involved to test and fix this, just in case we have to pass this over to someone else.

[2020-04-01 07:50] Gnafu commented on #323
@ElenaGallo please create a zip file with the mosaic configuration and attach it here

[2020-04-01 08:03] #188 closed

[2020-04-01 08:07] #10 closed

[2020-04-01 08:08] #42 closed

[2020-04-01 08:09] #64 closed

[2020-04-01 08:26] simboss commented on #314
@aaime sussgests to enable geometry densification to have better reprojection results.

We need to:
- make the change
- make sure the cache is clean
- restart the slaves
- check from the client

[2020-04-01 13:12] aaime commented on #323
I got the configuration files from google drive, thanks. Where do I get the actual data?

[2020-04-01 14:08] simboss commented on #323
sftp above, ask me or lorenzo the pwd

[2020-04-01 22:45] simboss commented on #141
@aaime please, backport as back as possible.

We also need to cherrypick the fix to the EUM GS rabch (which is 2.16).

[2020-04-02 12:23] #300 closed

[2020-04-02 16:39] aaime commented on #323
For my own reference, GetMap showing the problem:

[code]

[2020-04-03 14:42] Gnafu commented on #129
This just happened in DEV again.
It needs an investigation.

[2020-04-03 15:44] #94 closed

[2020-04-03 16:45] taba90 commented on #319
Started work on this. Issue got reproduced.
According to what Andrea said
For the first bug fix I'm adding a between filter to check if date is in range before checking lowers and highers.
The second bug fix, seems to simply imply the adding of a filter operation to the stream before cast is performed;

[2020-04-03 16:48] aaime commented on #319
For the second I would not be so sure... the code seems to extract dates to map back to date ranges... might as well just keep the date ranges if they show up.

[2020-04-05 13:27] simboss commented on #129
So, please prepare a case ready for investigation.

We need data. logs, etc.. as well as some sort posibility to replicate it.

[2020-04-06 07:18] taba90 commented on #319
Some things are not clear to me:
1) In this [method ](https://github.com/geoserver/geoserver/blob/master/src/community/ncwms/src/main/java/org/geoserver/wms/ncwms/NcWmsService.java#L245) it is stated that querying dates with a simple
range like the one at stake here (Case A in the method comment) we should have one result. I've tested this with an image mosaic store with two granules with differen

[2020-04-06 10:27] dromagnoli commented on #319
About your 1st point, NearestMatchFinder will return the closest value in a WMS request. So when specifying a range in a standard WMS call with NearestMatch enabled it will return the single value closest to that range.
Since an ncWMS GetTimeSeries is a specific operation aimed to get multiple times I think that for a request with a simple timeRange (neither a list of times, nor a START/END/PERIOD

[2020-04-06 10:30] aaime commented on #319
@dromagnoli yes, I agree.

[2020-04-06 11:05] taba90 commented on #319
According to last updates:

1. Instead of adding a between filter in the getMatches of the NearestMatchFinder, in [getNearestMatch ](https://github.com/geoserver/geoserver/blob/b76bba7178d3505cd45e318e659c3b32faee4b5e/src/community/ncwms/src/main/java/org/geoserver/wms/ncwms/NcWmsService.java#L245) method
in case that a simple time interval with no period is passed and nearest match is flagged a Q

[2020-04-06 13:15] taba90 commented on #319
Pull request https://github.com/geoserver/geoserver/pull/4162

[2020-04-06 14:21] simboss commented on #318
this is done no?

[2020-04-06 14:27] Gnafu commented on #318
Done

[2020-04-06 14:27] #318 closed

[2020-04-06 14:29] simboss commented on #319
@taba90 make sure we backport to the branches where this applies and the cherry pick to EUM branch for @Gnafu to test

[2020-04-06 16:49] aaime commented on #141
@Gnafu should be fixed, pushed the change to the EOWS branch

[2020-04-06 16:52] aaime commented on #323
Should be fixed too. There is no change in the EOWS branch, because the issue had to be solved in GeoTools instead:
https://osgeo-org.atlassian.net/browse/GEOT-6543

(the ticket does not directly talks about black borders, but about the changes that happens to make them disappear, which was already present on master due to a completely unrelated reason...).

Long story short, as long as you use an

[2020-04-06 17:45] simboss commented on #323
@aaime I think we fixed also the GeoTools branch to match the GeoServer branch, hence we might need a cherry pick.

@Gnafu can yo confirm?

[2020-04-06 19:58] aaime commented on #323
@simboss I don't see a EOWS branch here: https://github.com/geosolutions-it/geotools

[2020-04-06 22:14] simboss commented on #323
@Gnafu ?

[2020-04-07 07:37] Gnafu commented on #323
The geotools branch still needs to be locked, there's a pending issue for this: https://github.com/geosolutions-it/eumetsat-EOWS/issues/295

[2020-04-07 08:21] Gnafu opened #324 "Investigate OPE data not showing up in client."
Some layers don't show up in the client, this is not happening in DEV.
Need to check the ingestion settings.

[2020-04-07 09:39] Gnafu commented on #324
Ingestion pod is sending malformed JSON

[code]

Waiting for a live session to troubleshoot this.

[2020-04-07 12:47] Gnafu commented on #295
@aaime does this means that we also need to have a custom branch of geowebcache?

[2020-04-07 13:05] Gnafu opened #325 "Build EOWS-158 GeoServer branch on Jenkins"
A continuous build is needed for this branch https://github.com/geosolutions-it/geoserver/tree/EOWS-158

Test should run at least on the following profiles:
authkey control-flow css feature-pregeneralized importer libjpeg-turbo monitor netcdf netcdf-out wps importer-jdbc ncwms ghrsst wmts-multi-dimensional wps-download wps-jdbc

[2020-04-07 13:45] simboss commented on #325
This is a top priority.

[2020-04-07 13:55] simboss commented on #295
@Gnafu my questions is why you did not bring this up during our last synch.

This is obviously a priority. Let's put it in ready and then decide who does what.

@randomorder is this something we can throw at someone? Aman? Giacomo?

[2020-04-07 13:57] randomorder commented on #325
HI @Gnafu
I set up a build [here](https://build.geo-solutions.it/jenkins/view/Eumetsat%20-%20EOWS/job/GeoServer%20EOWS-158)

The build is failing though. The are [test failure in the wms and wps modules](https://build.geo-solutions.it/jenkins/view/Eumetsat%20-%20EOWS/job/GeoServer%20EOWS-158/3/). Can we involve the developers to check the errors? Not sure who is the right person to ask for help, m

[2020-04-07 13:58] aaime commented on #295
@Gnafu having a custom branch of GWC too would be ideal, not sure it's strictly needed, [GWC 1.16.x has been moving very slowly](https://github.com/GeoWebCache/geowebcache/commits/1.16.x).
But if we want complete control, it's mandatory to also lock down GWC, yes.

[2020-04-07 14:06] Gnafu commented on #324
Found an actual bug:
GeoServer mismatch the store name when multiple workspaces have the same datastore name.
It looks like the "targetWorkspace" is not used to find the datastore.

Will open a JIRA asap.

[2020-04-07 14:49] randomorder commented on #295
As soon as @Gnafu created the branches and updated the POMs it's straightforward to set up the builds.

Draft build jobs are here:
- [GT](https://build.geo-solutions.it/jenkins/view/Eumetsat%20-%20EOWS/job/GeoTools%20EOWS-158/)
- [GWC](https://build.geo-solutions.it/jenkins/view/Eumetsat%20-%20EOWS/job/GeoWebCache%20EOWS-158/)
- [GS](https://build.geo-solutions.it/jenkins/view/Eumetsat%20-%20EOWS/

[2020-04-08 04:06] Gnafu commented on #295
@randomorder The branches are updated.

[2020-04-08 06:26] randomorder commented on #295
Hi @Gnafu
I updated the builds. Please check their status. Let me know if I missed something.

[2020-04-08 08:00] Gnafu opened #326 "Mitigate IMGMT-184"
Update the datastore names with the ones from the spreadsheet.
They must be unique across all workspaces.

[2020-04-08 12:38] #326 closed

[2020-04-08 12:51] randomorder commented on #325
re-run the build today. We get a different error now
we probably need a dev to take a look @simboss

[2020-04-08 12:53] randomorder commented on #295
There are issues with GWC and GS builds. See also [here](https://github.com/geosolutions-it/eumetsat-EOWS/issues/325)

Also, I'll add the deploy profile to publish the artifacts

[2020-04-09 07:04] randomorder commented on #295
GT and GWC artifacts [here](http://maven.geo-solutions.it/org/geowebcache/gwc-web/1.16-EOWS-SNAPSHOT/) and [here](http://maven.geo-solutions.it/org/geotools/gt-main/22-EOWS-SNAPSHOT/)

[2020-04-09 16:48] Gnafu commented on #324
Mitigated changing the datastore names with unique identifiers.

Another issue with the permissions on the updateHistogram.sh script was just fixed by making the ingestion pod hit the slaves balancer, instead on the master.

[2020-04-09 16:48] #324 closed

[2020-04-09 16:54] Gnafu commented on #129
All the failures observed during the last weeks of testing were due to a bad configuration of the ingestion service.
Blocking this until an actual random failure is observed.

[2020-04-09 16:55] Gnafu commented on #141
Assigning to me to deploy the code on CGI Gitlab

[2020-04-10 08:13] #210 closed

[2020-04-10 09:03] Gnafu commented on #183
The authkey authentication service URL cannot be made parametric.
Everything else is done

[2020-04-10 09:06] Gnafu commented on #298
@dromagnoli what is the actual effect of this issue?

We use the gs:Download process but we didn't find any issues as of today.

[2020-04-10 09:07] #134 closed

[2020-04-10 09:08] #174 closed

[2020-04-10 09:08] #197 closed

[2020-04-10 09:08] #182 closed

[2020-04-10 09:09] #165 closed

[2020-04-10 09:25] Gnafu opened #327 "GeoServer Importer uses wrong datastore"
If 2 datastores in different workspaces have the same name, GeoServer uses always the first it finds.

I am unable to reproduce this bug locally because of another bug: https://osgeo-org.atlassian.net/browse/GEOS-9571

The steps to reproduce are the same, just trigger the import after them.
The importer adds the 2.tif file to the index of the datastore "a:m" instead of the specified "b:m"

I belie

[2020-04-10 10:01] dromagnoli commented on #298
The problem with that issue was that when asking for a wpsDownload on something different than byte (so, Int16, Float, Double,....) you was getting a rescaled to 8 bit version of data. As far as I remember this was only occurring when imposing a width and height to the target output image being downloaded, due to going through a different code path

[2020-04-10 13:26] nmco commented on #319
@taba90 looks like the PR was merged. since this is a bug fix, please backport to the branches where it applies and cherry pick to EUM has requested.

Remember to update the JIRA ticket, thank you.

[2020-04-10 13:43] Gnafu opened #328 "Importer fails to init context with demo data"
This is happening on Windows
https://osgeo-org.atlassian.net/browse/GEOS-9571

[2020-04-10 13:43] Gnafu opened #329 "Importer logs incorrectly when workspace is wrong"
![image.png](https://images.zenhubusercontent.com/5cd44174fe59e12f2130c49d/7f88f661-a8d5-4571-96fe-2ddff920beec)

Fix here: https://github.com/geoserver/geoserver/commit/3610e4885bfba08440d7d2290adb4b9b5b7a8228

[2020-04-10 13:43] Gnafu opened #330 "Assorted Importer Issues"
A collection of issues we faced during the use of the importer

[2020-04-10 13:44] Gnafu opened #331 "GEOS-6888 Importer Tasks errors are not logged"
https://osgeo-org.atlassian.net/browse/GEOS-6888

[2020-04-10 13:45] Gnafu opened #332 "GEOS-8665 - Cannot import if the layer name equals the native name"
JIRA: https://osgeo-org.atlassian.net/browse/GEOS-8665

[2020-04-10 15:39] taba90 commented on #319
thanks for the reminder, backports got merged and fix has been cherry-picked to EOWS branch too.

[2020-04-13 17:43] simboss commented on #330
@nmco I think we can assign this to @taba90

[2020-04-13 17:46] simboss commented on #75
@Gnafu this has bene marked as resolved by @aaime a long time ago.

Can you double check?

[2020-04-13 20:43] nmco commented on #330
Understood @simboss.

[2020-04-13 22:27] #75 closed

[2020-04-14 08:02] Gnafu commented on #293
@taba90 I see the fix has been fixed on the master branch.
Please let me know when the fix is on the EOWS-158 branch as well

[2020-04-14 08:37] taba90 commented on #293
@Gnafu the fix is on EOWS-158 branch too

[2020-04-14 10:04] taba90 commented on #327
This got reproduced. The issue is caused by the line highlighted by @Gnafu . fix + test one hour

[2020-04-14 10:07] taba90 commented on #328
Not sure this is a bug. Even if the documentation in some point use the filename only to refer to granule in the task, in  the examples section full path is used (https://docs.geoserver.org/latest/en/user/extensions/importer/rest_examples.html). Indeed using a request body like this the import task gets correctly created:

{
  "import": {
    "targetStore": {
      "dataStore": {
        "name": "

[2020-04-14 12:55] nmco commented on #328
You feedback its not clear to me @taba90, is there a problem whit the documentation? Or wiht the request @Gnafu used?

[2020-04-14 12:56] nmco commented on #329
@taba90 can you estimate this one?

[2020-04-14 12:57] nmco commented on #331
Is this related with #329? @taba90 can you try to reprodcue and estimate?

[2020-04-14 12:58] nmco commented on #332
@taba90 can you investigate and propose an estimate?

[2020-04-14 13:00] nmco commented on #327
Go ahead @taba90 :small_airplane:.

[2020-04-14 13:22] taba90 commented on #328
@nmco I mean that in the documentation examples section full path is used in order to create import task and specifing a full path as file attribute indeed import creation works. What I mean is that it looks like this is the intended way of create import tasks through the rest interface since in the examples section of documentation is used always a full path

[2020-04-14 13:26] taba90 commented on #329
simply needs to correct this line https://github.com/geoserver/geoserver/blob/45b6d5ed2a1961493b7faf9c5e6d6c5693a559b9/src/extension/importer/rest/src/main/java/org/geoserver/importer/rest/ImportController.java#L193. Is a simple update that I think can be made in the context of fix for https://github.com/geosolutions-it/eumetsat-eows/issues/327 since is the same class and almost the same code sect

[2020-04-14 14:18] Gnafu commented on #329
@taba90 @nmco I already opened a JIRA: https://osgeo-org.atlassian.net/browse/GEOS-9572
And sent a pull request for this: https://github.com/geoserver/geoserver/pull/4182
You can just review it and maybe improve it if you want.

[2020-04-14 16:25] taba90 commented on #332
I would need some more informations to reproduced this. I tried to reproduce the issue partially following examples example in the section [Uploading a CSV file to PostGIS while transforming it ](https://docs.geoserver.org/maintain/en/user/extensions/importer/rest_examples.html). Basically I've proceeded as follows:

-create a void import with http://localhost:8080/geoserver/rest/imports
-create a

[2020-04-14 16:32] taba90 commented on #331
This issues seems to not be related. I guess to ticket is point toward to add logging  instead of simply throw a rest exception in Controllers' class present in the module. The are also few catch block that are not logging anything. I think that one hour should be enough to add log where exception are thrown. I'm also relying on the fact that adding logs would not imply new tests am I wrong?

[2020-04-15 06:48] taba90 commented on #327
Master pull request https://github.com/geoserver/geoserver/pull/4187

[2020-04-15 10:05] nmco commented on #331
@taba90 looks reasonable to me, and indeed adding logs doesn't require tests.

[2020-04-15 12:14] taba90 commented on #331
Master pull request https://github.com/geoserver/geoserver/pull/4188

[2020-04-15 12:32] simboss commented on #330
@nmco @taba90 all these issues shall be backported up to 2.16.x and then cherrypicked to eumetsat.

@taba90 make sure the EUM branch builds and tests pass everytime you backport something to it. @

[2020-04-17 17:15] nmco commented on #332
@Gnafu can have a look at @taba90 feedback? Maybe we are missing some step to be able to reproduce this.

[2020-04-17 17:18] nmco commented on #328
@taba90 I don't have time to look into the details of every issue, so what's going on here:
- The request describe on the JIRA ticket its wrong?
- The GeoServer documentation its wrong?

What do we need actually to do here?

[2020-04-17 19:07] simboss commented on #328
@Gnafu can you check this discussion?

[2020-04-21 09:46] taba90 commented on #328
@nmco I think there is no bug here, since according documentation example section full path is used and with a full path a new context is correctly created eg using a json body like this one:

{
"import": {
"targetStore": {
"dataStore": {
"name": "m"
}
},
"data": {
"type": "file",
"file": "C:/marco_workspace/A/2.tif"
},
"targetWorkspace": {
"workspace": {
"name": "a"
}
}
}
}

[2020-04-21 10:05] Gnafu commented on #328
This means that we can import files that are referenced by the full path.
Sounds reasonable.

Not a bug, we can convert this to a feature request if necessary.

[2020-04-21 10:10] Gnafu opened #333 "Support CGI on the remaining ingestions"
Support CGI on the ingestions that was left out during the demo:

- [x] osi saf : was not attempted due to missing json file, support if needed.
- [ ] sentinel "ab" : was not attempted due to missing json file, support if needed.
- [x] m01_rgb_124 : Review the discussion that was going on with ASK and ensure the ingestion works

[2020-04-21 10:13] Gnafu opened #334 "Improve GeoServer documentation on legends and layouts"
Document the latest features/fixed we implemented during EUMETSAT development.

- [ ] How to add a new legend to a new layer
- [ ] How to edit the layout to change the legend position

[2020-04-21 10:14] Gnafu opened #335 "Create a document for EUMETSAT on how to change the legend of a product"
Related to #334

Produce ad-hoc documentation for EUMETSAT

[2020-04-21 10:40] Gnafu commented on #332
@taba90 try uploading a shapefile instead of a csv.
If that works, this might be already fixed between 2.14.x and 2.16.x

[2020-04-23 07:36] taba90 commented on #332
@Gnafu the issue didn't get reproduced also for shapefile. I've followed the [Uploading a shapefile to Postgis example](url) adding the step highlighted in the the JIRA ticket

[2020-04-23 07:40] Gnafu commented on #332
Thank you.
Closing this as non-reproducible.

[2020-04-23 07:40] #332 closed

[2020-05-05 09:23] #183 closed

[2020-05-05 09:59] #169 closed

[2020-05-05 10:00] #168 closed

[2020-05-05 10:00] #160 closed

[2020-05-05 10:10] Gnafu commented on #322
@ElenaGallo are you able to reproduce this issue locally?
Can you please prepare a package with a data sample and the configuration to reproduce this issue?

[2020-05-05 10:16] Gnafu commented on #329
We only need a backport of https://github.com/geoserver/geoserver/pull/4182 to our custom geoserver branch

[2020-05-05 13:50] simboss commented on #325
@taba90 can you double check what is going with the build?

This is preventing us from deploying the new fixes.

[2020-05-06 08:30] ElenaGallo commented on #322
This issue only occurs in North Polar Projection on the client side. One of the layer affected by this issue is AVHRR RGB Natural Colour + Fog 6 orbits accumulated - Metop B ( `eps:m01_rgb_natural_fog`) in particular on these tiles:

### Mosaic config:

The configuration folders are available [here](https://drive.google.com/drive/folders/1gsQ1DRf-wa6Ahjk7sg6sGQNrm1QiRUhz?usp=sharing) ( used GeoSer

[2020-05-06 15:27] taba90 commented on #325
@simboss @randomorder

- Failings on WPS-JDBC module are caused by missing property file for oracle and postgres in the
 `{user directory}/.geoserver` . Those file are need to run live test on postgres and oracle. To set up
 those file it is possible to follow the documentation regarding[ app-schema online test]
 (https://docs.geoserver.org/latest/en/developer/programming-guide/app-schema/index.ht

[2020-05-06 15:32] randomorder commented on #325
Thank you @taba90

Sorry, what's `user directory` ? and does this mean we need a running postgresql instance to build geoserver without skipping the tests?

[2020-05-06 15:43] taba90 commented on #325
Using windows I put the .geoserver dir under c:/Users/{user} so I guess on linux should be placed in /home/{user}, and this means that to completely run test a postgresql instance and an oracle one running are needed. I guess we can exclude them by modifying the pom of that specific module. if needed I can update it

[2020-05-06 21:23] simboss commented on #325
@taba90 we should mimic for the moment what geoserver build server does and I believe it is _not_ running the tests for this modules as it is a community extension.

@Gnafu @randomorder next time when a developer prepare a custom branch he needs to be in the loop of the email failuers for it as he is requested to fix it timely.

[2020-05-07 10:08] taba90 commented on #325
wps-jdbc online test have been deactivated so now failings will not show up even if db properties files are not present. The build should be now be succesfull also with community module tests running

[2020-05-07 10:34] taba90 commented on #327
Master merged.
Backport prs:
2.17.x https://github.com/geoserver/geoserver/pull/4230
2.16.x https://github.com/geoserver/geoserver/pull/4229
Fix as been backported as well to the client branch

[2020-05-07 11:14] simboss commented on #325
@taba90 I added you to the recipients for failures so you can see them.

We still have issues, can you double check?

[2020-05-07 12:10] taba90 commented on #325
@simboss @randomorder Seems a directory name with spacing issue. A test file is searched here `/opt/jenkins_home/workspace/**GeoServer%20EOWS-158**/src/web/wms/target/test-classes/org/geoserver/wms/web/data/GeoServer_75.png`  instead of `/opt/jenkins_home/workspace/GeoServer EOWS-158/src/web/wms/target/test-classes/org/geoserver/wms/web/data/GeoServer_75.png`

[2020-05-07 15:08] simboss commented on #325
Strange that this not failing on the standard build.

Can you go ahead and fix it?

[2020-05-07 15:51] taba90 commented on #325
build is succesful

[2020-05-07 19:01] simboss commented on #325
Can you elaborate a bit so that I do not have not ask again or dig for information? ;)

Is this something we should port on the community GeoServer?

[2020-05-08 07:03] taba90 commented on #325
Porting it to the community GeoServer will not hurt, I just modified a line in a test in order to not read directory with space replacing it with %20. But looks like the directory triggering the issue is specific to the environment where the build happens here `/opt/jenkins_home/workspace/GeoServer EOWS-158`
that's why the failure is not happening on standard build

[2020-05-08 16:15] simboss commented on #325
@taba90 can you open an issue in GeoServer for this, assign it to you and link it here?

[2020-05-11 09:05] taba90 commented on #325
Here the ticket https://osgeo-org.atlassian.net/browse/GEOS-9612

[2020-05-13 08:28] simboss commented on #325
@Gnafu feddback.

[2020-05-14 16:03] Gnafu opened #336 "Review reported issues on OPE"
From Kiril:

[IMGMT-295 WMS: Ingestion failed for Metop RGB 124](https://cgi-pathfinders.atlassian.net/browse/IMGMT-295)

For this I think you are already in contact with ASK and know what the issue is about.

[IMGMT-286 WMS: Download and color scales](https://cgi-pathfinders.atlassian.net/browse/IMGMT-286)

Here I am not sure if you are the right person. The problem is that the full resolution do

[2020-05-15 16:41] simboss commented on #336
this is a top priority @Gnafu

keep me posted..

[2020-05-15 17:02] Gnafu opened #337 "Review Memory Dump for stuck Master instance"
The docker container was up and tomcat responding 404 to any request for GeoServer

The GeoServer image used is
```docker-pullable://harbor.cgi-dev.de/geoserver/geoserver@sha256:1a3efc41ee5aaaea4ebefa57445537bc457972233ce8cfe2cc092f29c2040a48```

GeoServer was built from this tag:
https://github.com/geosolutions-it/geoserver/tree/WMS-1-0

with the following profiles:
-Pauthkey -Pcontrol-flow -Pcss

[2020-05-15 17:04] Gnafu commented on #336
IMGMT-295 occurred on DEV, a restart fixed the issue.
Issue for a post-mortem: #337

[2020-05-20 08:45] Gnafu opened #338 "IMGMT-284 WMS: The download size is too big"
What was actually blocking the download was the rasterSizeLimits=640000000

The data specification document that says the size is “72001 x ~29000”, that means “2.088.029.000” pixels.
The download limit will be increased to 2100000000

The original issue is [here](https://cgi-pathfinders.atlassian.net/browse/IMGMT-284).

[2020-05-20 08:46] Gnafu commented on #338
Waiting for a feedback form the validation team

[2020-05-20 09:05] Gnafu opened #339 "IMGMT-311 WMS: Ingestion failed for all MSG 0DEG"
From Prasath:

Today, i tried to activate the continuous ingestion script for MSG 0DEG, just for a test of 5 minutes. The script pushes visualizations for most MSG 0DEG layers.

Apparently, every granule (+ the reltive JSON) is being immediately sent to quarantine. Could this be linked to the resolution of IMGMT-295.

Some files are still in the quarantine, in case you want to test, and for the lo

[2020-05-20 14:01] Gnafu commented on #339
Cannot reproduce on OPE
Waiting for additional feedback

[2020-05-20 14:02] Gnafu commented on #337
@simboss this will need a GeoServer developer to have a look.

[2020-05-26 10:00] simboss opened #340 "Estimate for implementing Equi7Grid in GeoServer"
There is sparse documentation around but I would start from [this](https://cartography.tuwien.ac.at/eurocarto/wp-content/uploads/2015/09/3_6_ppt.pdf) presentation.

I am also trying to gather additional information, which I will report here.

[2020-05-28 16:03] Gnafu opened #341 "gs:Download fails to output JPEG"
Trying to download the following file in JPEG with the WPS-Download plugin will result in an error.
https://www.dropbox.com/s/zouhvbq7ahbb0mh/OLCIL1RGB_9445_2002170403.tif?dl=0

To reproduce:
- Download GeoServer Master
- Install WPS plugin
- Install WPS Download plugin
- Publish the file on a regular "GeoTiff Store" (In this example the layer is copernicus:sentinel3b_olci_l1_rgb_fullres)
- Send a

[2020-05-28 20:01] Gnafu commented on #141
Confirmed working on "geoserver-dev"

[2020-05-28 20:01] #141 closed

[2020-05-28 20:31] Gnafu commented on #319
Confirmed working on "geoserver-dev" environment

[2020-05-28 20:31] #319 closed

[2020-05-28 20:38] Gnafu commented on #339
Fabrizio Borgia 4:28 PM CEST (May 28)

Continuous ingestion ongoing for MSG 0DEG, MSG IODC, MSG RSS and METOP (selected layers). No issue so far.

[2020-05-28 20:38] #339 closed

[2020-05-28 20:43] Gnafu commented on #323
Confirmed working on "geoserver-dev" environment
https://geoserver-dev.cgi-dev.de/geoserver/wms?SERVICE=WMS&VERSION=1.3.0&REQUEST=GetMap&FORMAT=image%2Fpng&TRANSPARENT=true&LAYERS=copernicus%3Adaily_sentinel3ab_olci_l1_rgb_fulres&STYLES=&tiled=false&TIME=2020-02-14T17%3A08%3A00.000Z&WIDTH=512&HEIGHT=512&CRS=EPSG%3A4326&BBOX=-90%2C-180%2C0%2C-90

For comparison the "dev" one that has not been updat

[2020-05-28 20:43] #323 closed

[2020-05-28 21:08] Gnafu commented on #325
Pushed to gitlab and worked flawlessly.

[2020-05-28 21:08] #325 closed

[2020-05-29 08:29] #257 closed

[2020-06-01 10:41] simboss commented on #312
@Gnafu is this still valid?

I need to know in order to plan this work.

[2020-06-01 12:58] simboss commented on #309
@aaime let's discuss and review together.

[2020-06-01 12:59] simboss commented on #208
Let's start with an estimate @aaime

[2020-06-01 13:03] simboss commented on #297
@aaime let's start with an estimate.

[2020-06-03 08:36] simboss commented on #340
Maybe first a little background. The Data Store UI (e.g. https://data.eumetsat.int/data/map/EO:EUM:DAT:METOP:IASSND02) provides a feature to narrow down the search using a spatial filter. Either bounding box or the Equi7Grid-based filters are supported. Each product is indexed to the intersecting tiles of E7G upon ingestion.

Now in order to provide a good experience to the user, the Data Store UI

[2020-06-03 13:58] simboss commented on #340
@aaime I would estimate a proper implementation in GeoServer.

[2020-06-08 12:58] aaime commented on #340
Checked the documentation, presentations and code repository. This Equi7Grid system does not look like a projection to me, it's actually 7 separate AzimuthalEquidistant to be applied in 7 different areas in the world.

This folder in the repository contains the 7 zones and shapefiles projected in the zone associated projection:

https://github.com/TUW-GEO/Equi7Grid/tree/master/equi7grid/grids

One

[2020-06-08 13:01] simboss commented on #340
I will ping you later.

[2020-06-08 14:27] aaime commented on #340
Africa:

![image](https://user-images.githubusercontent.com/325433/84041118-c0f0ee80-a9a3-11ea-820e-ef6c9dea87b8.png)

Antarctica:

![image](https://user-images.githubusercontent.com/325433/84041175-ccdcb080-a9a3-11ea-8bd5-b1d25ef2828c.png)

Asia:
![image](https://user-images.githubusercontent.com/325433/84041273-e7168e80-a9a3-11ea-8fa7-6bcc10fe9c0a.png)

North america:
![image](https://user-image

[2020-06-08 15:18] #328 closed

[2020-06-08 16:44] simboss commented on #340
thx

[2020-06-08 16:44] #340 closed

[2020-06-09 13:55] Gnafu opened #342 "WPS Download doesn't work with OLCI L1B RGB"

[2020-06-17 16:44] Gnafu commented on #341
JIRA: https://osgeo-org.atlassian.net/browse/GEOS-9643

[2020-06-17 16:54] Gnafu commented on #341
On EUMETSAT this happens on OLCI L1 L3B products, that are RGB images covering the whole earth.

The "Full Resolution Product" JPEG Download option should be disabled on those layers, keeping only GeoTIFF.

[2020-06-22 09:58] simboss commented on #186
@aaime I am bumping the priority of this one.

We have a good 10 days available to complete this work from GeoScience Australia.
I can also scratch some days from Deimos UK I believe.

[2020-06-24 18:01] Gnafu opened #343 "IMGMT-341 Wrong colour scale SLSTR Level 3 Uncollated Sea Surface Temperature (L3U SST)"
SLSTR Level 3 Uncollated Sea Surface Temperature (L3U SST) (both 3B and 3A) seems to have a different colour scale compared to SLSTR Level 2P, but the legends displayed in the product settings are all the same.

@simboss @randomorder this might be just a configuration issue, but I need to check to be sure.

[2020-06-25 05:56] randomorder commented on #343
ok, check the style. It should be a quick thing to do

[2020-06-25 14:07] Gnafu commented on #343
Indeed sentinel3a_slstr_l2p_sst_fullres is using sst_medspiration_single_band style
while sentinel3a_slstr_l3u_sst_fulres is using sst_composition3

This is because the sentinel3a_slstr_l3u_sst_fulres  styles where never defined by eumetsat specification https://drive.google.com/file/d/1jQGIx9McccrJv4ennlrVBc2tf4MUk0g0/view?usp=sharing
it is listed as "Palette: TBD"

[2020-06-30 09:23] randomorder commented on #320
AFAIK nothing to do for the DevOps here at the moment. Moving to blocked

[2020-06-30 09:25] randomorder commented on #343
What are the next steps? You providing the style? How long will it take? Please add an estimate

[2020-06-30 10:36] Gnafu commented on #343
- set sentinel3a_slstr_l3u_sst_fulres  to use sst_medspiration_single_band
- check it looks fine
- apply to production master (OPE)
- Ask Nicolas Morew for a new deploy on OPE

Then, if the deploy pipeline on OPE is not set yet
- Change the authkey settings on DEV to match OPE
- Trigger DEV pipeline
- Retag the image as OPE
- Send the image tag to Nicolas
- Revert the authkey settings on DEV

Chan

[2020-07-02 15:44] Gnafu opened #344 "IMGMT-347 - Reconfigure GeoServer Security"
From https://cgi-pathfinders.atlassian.net/browse/IMGMT-347

Kiril:

I need to reconfigure the GeoServer data security.
I'd like to sync with Kiril about the current GeoServer security configuration and the new one.

[2020-07-03 08:35] Gnafu commented on #343
Deployed on OPE

[2020-07-03 08:54] simboss commented on #186
@aaime I am asking @dromagnoli to help out with this.

I turned this into an epic so we can better track what we need to do and where we are because at this stage is unclear to me as I was not following closely.

@dromagnoli I have added a first issue about doing an analysis on where we are and making up a plan

[2020-07-03 08:54] simboss opened #345 "COG: make a status check and a plan of activities"
The goal of this issue is to check exactly where we are with COG support for GeoTiff and ImageMosaic/ImagePyramid wrt the work that @aaime and Josh Fix did so far.

The outcome is a plan with relateive issue and ballparks estimates that we can act upon right aftewards as we want to complete COG support asap.

[2020-07-03 14:00] Gnafu commented on #343
Confirmed by Ilaria Parodi

[2020-07-03 14:00] #343 closed

[2020-07-10 12:25] simboss opened #346 "Equi7Grid implementation and deployment"
https://cgi-pathfinders.atlassian.net/browse/IMGMT-368

- [x] fixes in GeoServer (no speed improvements for the moment) #352
- [x] test, deployment and configuration #353
- [x] Update [wiki page about Eumetsat backports](https://github.com/geosolutions-it/eumetsat-EOWS/wiki/Eumetsat-Pathfinder-2019-2020)

[2020-07-10 12:40] simboss commented on #346
/remind me on Monday

[2020-07-14 09:01] dromagnoli commented on #345
Initial document with notes and findings have been setup:
https://docs.google.com/document/d/1t2EUh38RezOhOpHubVz5nZ7OhiTHRgW4upNVdb_dPvI/edit#heading=h.yaaoxu1azhsw

[2020-07-14 09:08] dromagnoli opened #347 "Update GeoTIFF reader to support COG"
As part of the COG integration, we need to have GeoTIFF reader to support COG new classes (streams/readers) since right now it's somehow hardcoded to use standard TIFFImageReader s

[2020-07-14 09:08] dromagnoli opened #348 "Update ImageMosaic Reader to support COG"
As part of the COG integration, we need to have ImageMosaic reader to support COG new classes (streams/readers)

[2020-07-14 09:20] dromagnoli opened #349 "GeoServer GUI panel to customize/tune COG config on these stores"
Allows user to define a new GeoTIFF/ImageMosaic store against an S3/http remote dataset, so that it can specify a RangeReader implementation (i.e. HttpRangeReader vs S3RangeReader) and so on.
This information will then be collected and converted to an InputObjectReader being sent down to the Reader.
A new String syntax can be used to make sure that String associated to CoverageStore URL will not b

[2020-07-14 09:28] dromagnoli opened #350 "Refactor/Rename SpiHelper as a new ReaderInputObject"
SpiHelper (an inner class of MaskOverviewProvider) stores multiple classes needed when dealing with read operations:
- an ImageReaderSpi
- an ImageReader
- an ImageInputStreamSpi
- an ImageInputStream
- a URL.

Most of them will be also needed to deal with a COG dataset (at least an ImageReader[Spi]) and an ImageInputStream[Spi])
So we can refactor it as a new ReaderInputObject class so that the C

[2020-07-14 09:33] dromagnoli opened #351 "Large Requests optimization + Performance/Scalability checks"
WMS usually do "small requests" so when data has been properly prepared, inner overviews will provide reduced tiles access.
We need to investigate on how it works against huge datasets being requested by services like WCS where data is almost request at native resolution so that a huge amount of data read is involved.

Check for potential data structures being pre-allocated before the read. (it ma

[2020-07-14 09:44] dromagnoli commented on #345
Tickets have been created on the epic:
https://github.com/geosolutions-it/support/issues/750

[2020-07-14 15:49] simboss commented on #346
/remind me on Monday

[2020-07-20 14:48] aaime commented on #113
I believe the equivalent GeoServer issue was https://osgeo-org.atlassian.net/browse/GEOS-8569, which has been solved during the last bug fix sprint.
Shall we close this ticket?

[2020-07-22 10:36] simboss commented on #346
/remind me on Aug 3rd 2020

[2020-07-22 10:38] simboss opened #352 "Improvements the projection handler"
Citing @aaime email ""

This is probably related to #321 and  #322

We shall pay attention to the geoserver version that EUM is using as I don't think we can afford a complete upgrade just for this fix.

[2020-07-22 10:38] simboss opened #353 "Test, deploy and configuration in GeoServer"
Test and deploy fixes for GeoServer.

Let's decide if we do a patch or if we do a release.

[2020-07-27 09:15] Gnafu commented on #353
Reminder for me: Add a deploy diagram to the doc if it is missing.

[2020-08-03 09:22] simboss commented on #346
information on branches and GeoServer versions [here](https://github.com/geosolutions-it/eumetsat-EOWS/wiki/Eumetsat-Pathfinder-2019-2020)

[2020-08-04 09:20] aaime commented on #314
@Gnafu not sure why it's assigned to me, were the changes suggested already tested without success?

[2020-08-04 09:38] aaime commented on #321
Still investigating the actual cause, but in the meantitime, found a possible workaround, setting the input transparent color to black seems to make the issue disappear:

![image](https://user-images.githubusercontent.com/325433/89278830-e66a4380-d646-11ea-8d17-db55eabe7675.png)

![image](https://user-images.githubusercontent.com/325433/89278898-fd109a80-d646-11ea-8537-090ddac103fe.png)

[2020-08-06 10:12] simboss commented on #352
@aaime make sure you provide some status on the issue when you are done with the work.
This will be the input for Lorenzo when he comes back.

[2020-08-06 10:13] simboss opened #354 "IMGMT-354"
Work is described [here](https://cgi-pathfinders.atlassian.net/browse/IMGMT-354)

[2020-08-06 10:14] simboss commented on #353
@Gnafu apparently @aaime is almost done with his work.
He should have cherrypicked things to the EUM fork and tested it already.

This is your top priority for the 17th together with [this one](https://github.com/geosolutions-it/eumetsat-EOWS/issues/354)

[2020-08-06 10:42] aaime commented on #352
Both referenced issues have been solved and the fixes backported to the EOWS-158 branches.
Tested the data with the branch in question, here are a few screenshots from a tiled preview:

![image](https://user-images.githubusercontent.com/325433/89522585-befbae00-d7e1-11ea-9b25-33031349e0aa.png)

![image](https://user-images.githubusercontent.com/325433/89522595-c1f69e80-d7e1-11ea-9e9a-761b70bb2ff5.

[2020-08-17 07:42] Gnafu commented on #354
/remind me on August 19

[2020-08-17 07:52] Gnafu commented on #352
Moving this to complete because:
- It has been tested by @aaime
- There is another issue #353 to test this on Eumetsat environment

[2020-08-17 13:36] Gnafu commented on #352
@aaime the branches you are referring to are these ?
https://github.com/geosolutions-it/geotools/tree/EOWS-158
https://github.com/geosolutions-it/geoserver/tree/EOWS-158

[2020-08-17 13:38] aaime commented on #352
Yes. I believe the changes needed actually landed only in GeoTools. Ah, I forgot to push them, done so now:

![image](https://user-images.githubusercontent.com/325433/90402457-c2275180-e09f-11ea-828f-3c9dc69f9fc2.png)

[2020-08-17 14:05] Gnafu commented on #352
Thank you.
I see this issue is related to the "Equi7Grid implementation and deployment" #346
Is this the implementation? Or is there another issue/branch for that?

[2020-08-17 14:14] aaime commented on #352
Well yes, #346 points indeed at this one as the first step:

![image](https://user-images.githubusercontent.com/325433/90405911-b8541d00-e0a4-11ea-89df-379b66022cc3.png)

[2020-08-18 10:17] Gnafu commented on #353
Build went fine. Going to deploy on dev for testing

[2020-08-18 14:12] Gnafu commented on #321
Fixed on https://github.com/geosolutions-it/geotools/commits/EOWS-158

[2020-08-18 14:12] #321 closed

[2020-08-18 14:12] Gnafu commented on #322
Fixed on https://github.com/geosolutions-it/geotools/commits/EOWS-158

[2020-08-18 14:12] #322 closed

[2020-08-18 14:58] #352 closed

[2020-08-19 12:11] Gnafu opened #355 "IMGMT-314: Align permissions with OLDA"
See https://cgi-pathfinders.atlassian.net/browse/IMGMT-314

I need to review users roles coming from the "userInfo" service  and eventually change the data security policies

[2020-08-20 08:26] Gnafu commented on #353
During the deploy I found 2 possibly unrelated (and existing) issues:

- If the "Enable automatic densification of geometries" is enabled, reprojection fails with "Error transforming bbox"
- Adding the epgs.properties file with the custom projections definitions requires to specify the 900913 in the file as well, or it will no longer be recognized as a valid epsg code

[2020-08-20 08:28] aaime commented on #353
The 900913 part is a given, has always been like that, it's not a code that is present either in the EPSG database, nor in the code itself, so it has to be there.

About densification, I don't know about it, is it ok to just keep it off for the project? Otherwise we'll need a separate issue with steps to reproduce.

[2020-08-20 08:46] Gnafu commented on #353
We enabled densification to fix some glitches in 3995 reprojections
One option can be to temporarily disable it while we fix the issue

[2020-08-20 08:56] Gnafu opened #356 "Cannot reproject to equi7grid projections is densification is enabled"
If "Enable automatic densification of geometries" is checked, the reprojection fails

This happens on the "osmgray" backgrounds that are EPSG:3857 reprojected to the custom equi7grid projections

I could not reproduce the issue with a simple shapefile on the standard 2.16.4 and 2.18.x builds so further investigation will be needed to pinpoint the exact conditions to reproduce this.

[code]

[2020-08-24 08:58] simboss commented on #356
@aaime can you try to replicate as we don't have access to @Gnafu ?

[2020-08-24 11:41] simboss opened #357 "IMGMT-370 - Investigate OOM Error during animation generation"
They are experiencing an OOM when working with animations.

The initial exchange is [here](https://docs.google.com/document/d/1-33Zhn0NEfkAEcaHACP_BJKjMQX6L_-EJy3kNX7hmBM/edit?usp=sharing) we shall try to replicate and then ask one of our developers to have a look.

[2020-08-24 13:14] aaime commented on #356
The stack trace is an exact match for this ticket:

[[GEOT-6553] NPE in StreamingRenderer if dynamic densification is enabled on a projection without ProjectionHandler](https://osgeo-org.atlassian.net/browse/GEOT-6553)

The fix is on 22.x, but not in the EOWS-158 branch. Indeed, azimuthal equidistant does not have a projection handler (to my limited knowledge about it, it really does not need one)

[2020-08-24 13:15] simboss commented on #356
great, thx...

@randomorder this means we need to redeploy once this is done.

[2020-08-24 15:16] aaime opened #358 "Investigate reprojection slowness on azimuthal equidistant"
Reprojecting the simple gray background on azimuthal equidistant is quite slow. A quick profile run shows the azimuthal equidistant code itself is doing a significant amount of allocations:

![image](https://user-images.githubusercontent.com/325433/91062749-60319380-e62d-11ea-9f51-c081a5e9259f.png)

while a CPU method profile seems to suggest Marlin renderer itself is slow... which is quite odd.
T

[2020-08-25 11:59] simboss opened #359 "[WMS-OPE-GUI-1321] Improve legends in downloads"
From the client:

The current implementation of EUMETView disables the basemap when adding the legend overlay. This was not requested, we would like the user to choose to display the basemap or not, just like he/she does during the regular (without overlay) image download.

Let's discuss this and put together a potential ballpark estimate with a plan.

[2020-08-26 13:57] randomorder commented on #357
JIRA issue [here](https://cgi-pathfinders.atlassian.net/browse/IMGMT-370)

Memory dumps at `ftp.geo-solutions.it` login as user `cgi` password [here](https://docs.google.com/spreadsheets/d/16PuEm75Pn6OInFKwqMLEFUDGdCT0Kw23a9dEtFGkV0I/edit#gid=0)

[2020-08-27 15:53] randomorder opened #360 "Equi7Grid - Reprojection issue with Antartica"
https://cgi-pathfinders.atlassian.net/browse/IMGMT-368

![image](https://user-images.githubusercontent.com/5264230/91465679-5ce91280-e88e-11ea-8ea0-bcb09e9e0c50.png)

[2020-08-27 16:09] aaime commented on #358
Found a possible cause and discussed with the author about it a few days ago. Yesterday he sent me a patch to try out in private, that seems like it would solve the allocation issue. Need to try it out.

[2020-08-27 16:36] simboss commented on #358
go ahead with it

[2020-08-27 17:06] simboss commented on #337
@aaime can you give this a quick look when you have time?

[2020-08-27 17:08] simboss commented on #359
waiting for more details...

[2020-08-27 17:10] #140 closed

[2020-08-28 10:06] aaime commented on #358
I checked the patch provided by the author, he improves a bit, but there is still a lot of allocation, I've informed him of the residual issues.

Did some more checks, and we are also stumbling into high CPU usage due to a problem seen before, the usage of the JTS Densifier in the on the fly densification path (which internally calls an expensive "buffer(0)" operation to ensure valid outputs). We

[2020-08-28 10:09] simboss commented on #358
let's put this on hold for the moment then

[2020-08-28 10:11] aaime commented on #358
Roger that. Just for reference, the Densifier class is not that big, forking and improving it would not be a major amount of work (1 day, two tops): https://github.com/locationtech/jts/blob/master/modules/core/src/main/java/org/locationtech/jts/densify/Densifier.java

[2020-08-28 17:25] aaime opened #361 "Improve handling of GWC filter parameter storage"
GWC stores filter parameters used for tiles in a property file. There is one property file for each layer, containing a map between the parameter hash and the actual parameter values.

Issues:

- The file is read and re-written every time a tile with parameters is stored
- Writes are direct to the file
- The property file can grow very large

Short term goals to reduce pressure on these files:

-

[2020-08-28 19:19] simboss opened #362 "Investigate sloweness with Harvesting a geotiff into an ImageMosaic"
- there is sloweness when ingesting a geotiff granule into an ImageMosaic which has thousands of files (around 20k)
- the code that is incriminated (see this jstack at "pool-36-thread-25" and "http-apr-8080-exec-19") is  the usage of the listFiles functions which reads a ton of files just to look, [Here](https://github.com/geotools/geotools/blob/f5912abb3766abceaa2d157ff688ca0cdb10efc6/modules/plu

[2020-08-28 19:33] simboss commented on #361
@aaime as I mentioned during the call, a short term goal IMHO is also to reduce the size of these files on disk as they can easily become many MB each. At the moment we have 20k time bins for each mosaic and that keeps growing.
Throw that in the mix.

[2020-08-28 20:10] simboss commented on #361
Random thought, why do we need to keep that properties files around?

I mean if there one way to hash the filter combination and then one way to get to its directory we could do directly no?
Just thinking out loud...

[2020-08-31 07:33] randomorder commented on #360
Hi @aaime
I deploye your latest fix on DEV but I am having issues with some of the projections. Most of them are working fine while for others I get exceptions:
![image](https://user-images.githubusercontent.com/5264230/91693613-94480f80-eb6b-11ea-8d56-798a4f972b7c.png)
![image](https://user-images.githubusercontent.com/5264230/91693619-97430000-eb6b-11ea-90fe-4299d737725e.png)

`https://view.cgi-

[2020-08-31 08:23] randomorder commented on #360
The config of the BBOX of one of the layers belonging to the layergroup was wrong
![image](https://user-images.githubusercontent.com/5264230/91699004-e856f200-eb73-11ea-8d2b-1386ee173da3.png)

It is working in DEV now

[2020-08-31 08:23] #360 closed

[2020-08-31 08:23] randomorder commented on #356
fixed and deployed in DEV
I'll deploy on OPE later today

[2020-08-31 09:16] randomorder commented on #362
mosaic config and sample data are on demo @dromagnoli

[2020-08-31 13:10] simboss commented on #361
I'd suggest to have a look at MapCache approach as well.

[2020-08-31 13:13] simboss commented on #361
Notice that right now we are asking GeoServer to cachel all styles even if it is not needed.

[2020-08-31 15:50] aaime commented on #361
Checked MapCache a bit:

- It allows dimensions, and multiple dimension
- Valid values for dimensions can come from static lists, regexes, but also a database
- The seeding tool accepts multiple dimensions to be specified when seeding/truncating a cache

Also checked GWC better. The list of parameters is not used when purging a particular parameter combination (for that one, the hash is computed a

[2020-08-31 17:04] randomorder opened #363 "Cleanup of Importer Temporary Files"
Found some WARNings about GS not being able to remove these files
[code]

There are 2.6K directories in `/var/geoserver/import-uploads/`

[code]

I'll put a CRON job in place to remove files older than a week

[2020-08-31 17:57] simboss commented on #362
@randomorder next time document where

Demo is a geosolutions asset so this is not daniele's secret.

[2020-08-31 20:04] simboss opened #364 "[AOB X] Set up PostgreSQL HA"
From the client.

`At the moment, GeoServer is using a single instance of Postgres DB. Redundancy between at least 2 instances (either prime-backup or synchronized instances) should be foreseen for the operational phase.`

We have to come up with options on how to achieve this requirement and estimate.

We need this rather quickly, @randomorder let's ask help from Luca!

[2020-09-01 08:41] randomorder commented on #363
I put this in place
`0 0 * * * /usr/bin/kubectl -n wms exec -it wms-geoserver-master-set-0 -- bash -c 'find /var/geoserver/import-uploads/ -mtime +30 -delete' > /dev/null 2>&1`

[2020-09-01 09:03] randomorder commented on #356
deployed

[2020-09-01 09:03] #356 closed

[2020-09-01 09:08] randomorder commented on #355
The "userInfo" service is not working properly at the moment. Moving to blcked

[2020-09-01 09:12] randomorder commented on #327
I can see the commits on the fork
![image](https://user-images.githubusercontent.com/5264230/91831093-ea888180-ec43-11ea-98d3-6af37c2b3e22.png)

I deployed yesterday. We just need to test it before closing the issue

[2020-09-01 09:13] randomorder commented on #213
you know of this uber-epic still relevant @simboss ?

[2020-09-01 09:17] randomorder commented on #129
I am trying to find out where the quarantine directories are in order to close this

[2020-09-01 10:01] aaime commented on #361
Found out that parameter storage is also used for another task, the "drop by bbox" which drops tiles by bounds across all of the layer caches. To use the existing machinery, it first collects all the available parameters, and then create a truncate job for the a given parameter value set. Could be rewritten to just use the hash, but it would require changes in multiple places, and multiple blob st

[2020-09-01 10:14] aaime commented on #361
Plan to improve the handling of property files, overview:

- Make sure we handle the property file only when strictly needed, that is, when the directory for a new set of parameters is created. It's a single time per directory, however, the "metadata.properties" is still unique for the entire layer, so, while this reduces very significantly reads and writes, it does not remove concurrency.
- When

[2020-09-01 12:42] randomorder commented on #346
done

[2020-09-01 15:06] simboss opened #365 "SuggestedFormat code incorrect"
The GranuleDescriptor has code for using a `suggestedFormat` but the way is used is incorrect since it is not just a suggestion if the format is wrong for one of the granules there is not search for an alternative format (at least, I did not find it).

See [this](https://github.com/geotools/geotools/blob/a4f0d2a148534b7bf140e37328c3ae95d326b65d/modules/plugin/imagemosaic/src/main/java/org/geotools

[2020-09-01 15:06] dromagnoli opened #366 "ImageMosaic initialization improvements on source check"
See details on https://osgeo-org.atlassian.net/browse/GEOT-6693

Long story short:
- try avoiding the directory scan when looking for property files (directory can contains thousands of files)
- only support directory or specific config files on input

[2020-09-01 15:09] simboss opened #367 "remove synchronizations from GridFormatFinder.findFormat method"

[2020-09-01 15:14] simboss opened #368 "Document usage for suggestedFormat"
Well, if you don't document it, it does not exist!

Check [this](https://docs.geoserver.org/latest/en/user/data/raster/imagemosaic/configuration.html) page.

[2020-09-01 15:16] simboss opened #369 "Write suggestedFormat in mosaic properties file"
At the moment we do not write the suggestedFormat in the mosaic properties file.

I would do it, otherwise it is not useful at all.

[2020-09-01 16:48] randomorder commented on #364
PostgreSQL is deployed as part of a big Helm Chart for the "wms" namespace in K8s comprising the following subcharts
![image](https://user-images.githubusercontent.com/5264230/91870564-4b7d7d00-ec77-11ea-9bad-4d3050a82c8e.png)

I am assuming:
- the Helm Charts [here](https://gitlab.cgi-dev.de/eows/wms/wms-cicd/tree/master/charts/wms/charts/postgres-wms-geoserver) are still valid and working and up

[2020-09-01 22:22] nmco commented on #359
For reference, legends are displayed on the ``mp4`` videos that can be export from EUMESAT portal, legends inclusion need to be activated explicitly, not all layers have a legend defined. Behind the scenes the portal uses GeoServer ``wps-dowload`` plug-in to export the video and associated legend [through a ``gs:DownloadMap`` WPS process invocation.](https://github.com/geoserver/geoserver/blob/mas

[2020-09-02 10:56] simboss opened #370 "Introduce MapCache in EUMETVIEW NG"
From the client:

EUM is currently using MapCache in another project and tey are happy with it.

I asked them to send us the configuration file for it so we can inspect it, see [here](https://www.dropbox.com/sh/koo08avg64fg7my/AAACGavFYuM-wdXb_qrpt4qUa?dl=0) for the mapcache config and the exchange with the client.

More from them:

`Our mapcache is configured as a multi-tiered cache memory/disk o

[2020-09-02 15:45] randomorder opened #371 "Issue with GWC demo on Equi7grid"
![recording](https://user-images.githubusercontent.com/5264230/92005524-e2b00680-ed43-11ea-9574-4e0560f1a797.gif)

It's as if the preview was re-centered at a certain zoom level

[2020-09-02 17:01] simboss commented on #371
low priority for the moment...

[2020-09-02 17:11] simboss commented on #366
@dromagnoli we deployed this and it appears to be running properly.

However, I think there are still corner cases where we are listing things too much, see [this](http://demo.geo-solutions.it/share/test/09_08_2020/jstack2) jstack.

So if we follow the flow, we are havesting a file and not a directory since we go through this line of code

[org.geotools.gce.imagemosaic.ImageMosaicReader$HarvestedR

[2020-09-02 23:27] nmco commented on #361
Following @aaime investigation I did a few tests to understand the code and end up having a few questions \ taking a few notes.

The code that deals with the generation of the hash for a group of parameters is available in the [class](https://github.com/GeoWebCache/geowebcache/blob/34a9fca5aeb9d01e744c1779406f1a5010f619ba/geowebcache/core/src/main/java/org/geowebcache/filter/parameters/ParametersU

[2020-09-03 09:37] aaime commented on #361
Known usages of parameters stored in property files:
* Removal by bounding box, across all parameter related caches (could be rewritten to just go in each cache directory, not fully trivial)
* Removal or re-config of a parameter filter, to locate and delete all caches that are out of date (e.g., say one removes a valid value from the list of parameter valid values, seems the code would go, locate

[2020-09-03 18:29] simboss commented on #366
I think this makes sense; a couple of things:

- make sure there is no other place where we unecessarily loop through the directory
- I would probably go down the path of creating an ImageMosaicWalker implementation that is inizialized with a list of files as an alternative to **always** scanning a directory. I mean the implementation of the harvesting capability should have already gone down this

[2020-09-03 18:29] simboss commented on #366
/remind me on 8th September 2020

[2020-09-04 08:49] dromagnoli commented on #366
In relation to the original issue on performing a File scan during initialization there are several cases to be taken into account:

- Mosaic has a single coverage: 99% of the times, the coverage name has the same name of the mosaic config folder -> no scan needed
- 1% of old mosaics have a default mosaic.properties file -> no scan needed
- Multidimensional coverages (i.e NetCDF mosaics) have an A

[2020-09-04 09:04] dromagnoli opened #372 "Harmonize ImageMosaic source check code"
There are 3 classes in ImageMosaic doing checks on source.

Utils.checkSource
ImageMosaicFormat.checkForUrl
ImageMosaicReader.initReaderFromURL

They contain some pieces of duplicated code and some methods of a class also invoke the method of another class.
We could spend some time in trying to isolate the checking code in a single place and have all of them using that

[2020-09-04 09:08] dromagnoli opened #373 "Switch from commons.io (FileUtils) to standard Java File/Files (Java8) classes"
The ImageMosaic code has been written long time ago, using commons.io for file management, file retrieval, directory scan and so on.

We might consider switching to standard Java File/Files class since they offer same capabilities right now.
(+ Java8 nio provides some streaming/iterating capabilities on file scan)

[2020-09-04 09:13] dromagnoli opened #374 "Harvesting a single file results into a directory scan anyway (due to implementation using FileFilters)"
The current implementation of harvesting is based on a MosaicWalker setup on top of a FileFilter to refer that file.
This results anyway in a directory scan (even if using that filter) being performed by the ImageMosaicDirectoryWalker.
We should avoid that and providing directly the needed files to the walker so that no directory scan/directory filtering is performed at all.

[2020-09-04 09:19] dromagnoli opened #375 "Multidimensional coverages: look for properties file based on indexer.xml's coverage names list"
When dealing with multidimensional coverages, there is a property file for each coverage.
Right now, these properties file are find in the mosaic directory through a kind of "*.properties" files scan.
If data is in the same directory of the mosaic config this scan can be time consuming.
In that case, we should avoid that by parsing the indexer and looking for those properties file by name as first

[2020-09-04 12:03] #369 closed

[2020-09-04 14:07] simboss commented on #365
@dromagnoli why you closed this? I don't see any feedback or progres....

[2020-09-04 14:08] dromagnoli commented on #365
@simboss
I merged the related PR on geotools.

[2020-09-04 14:09] dromagnoli commented on #365
I was doing a close and comment but for some reason the comment isn't there :|

[2020-09-04 14:10] dromagnoli commented on #365
this one:
https://github.com/geotools/geotools/pull/3131

[2020-09-04 14:12] dromagnoli commented on #369
Related GT PR has been merged
geotools/geotools#3131

[2020-09-04 14:13] simboss commented on #369
did you push this into the EUM branch?

[2020-09-04 14:27] dromagnoli commented on #369
Yep. I thought it has minimal impact on the current mosaics already configured.
I was aiming to work on ticket #374 too before asking Alessandro to do new builds and deploy

[2020-09-04 15:24] simboss opened #376 "Another potentially harmful file listing in the importer"
Apparently we have the importer do another file listing in a directory, see below...

"http-apr-8080-exec-8" #197 daemon prio=5 os_prio=0 tid=0x00007fee6434e800 nid=0xeb runnable [0x00007fed36cf9000]
   java.lang.Thread.State: RUNNABLE
	at java.io.UnixFileSystem.list(Native Method)
	at java.io.File.list(File.java:1122)
	at java.io.File.listFiles(File.java:1207)
	at org.geoserver.importer.SpatialFi

[2020-09-04 15:54] nmco commented on #361
Summarizing the decisions that have been taken:
- Short term plan, the quick fix of disabling the writing on the meta-data has been implemented on EUMESAT branch.
- Mid-term \ long-term plan is to implemented the fix suggested by @aaime in [this comment](https://github.com/geosolutions-it/eumetsat-EOWS/issues/361#issuecomment-684725715) this fix has two main tasks:
 - Only write and access the fil

[2020-09-07 14:04] nmco commented on #361
@jemacchi as discussed let's start by:
- Reproducing the problem locally, in this case reproducing the problem will be quite difficult since you would need quite a load, in this case I would recommend to set-up GS and GWC and check \ validate that the meta-data properties file is created and access as described on this issue.
- Then you should validate the plan proposed by @aaime [here](https://gi

[2020-09-08 12:10] jemacchi commented on #361
@nmco
1. I could reproduce problem locally. Debugged general flow/calls stack, familiarizing with GWC code. Thanks for assistance ! (@fernandor777 and you )
2. I'm not sure If -based on my knowledge of code- I can do it in top 2 days as proposed.
I would say that at least I will need 2 days, 3 days max.
Note: I'm considering also testing (as you commented) and the backport. Regarding last item, wh

[2020-09-08 13:03] jemacchi commented on #361
Regarding technical questions:

@aaime  from [here](https://github.com/geosolutions-it/eumetsat-EOWS/issues/361#issuecomment-684725715)  when you comment not to delegate to writeFile, which is the reason ? (I see that writeFile is only called from [FileBlobStore.put](https://github.com/GeoWebCache/geowebcache/blob/34a9fca5aeb9d01e744c1779406f1a5010f619ba/geowebcache/core/src/main/java/org/geowebca

[2020-09-08 13:16] aaime commented on #361
Because I said to write only on directory creation, and because "writeFile" should "write a file", otherwise the method should be "write a file and shared parameter metadata"

[2020-09-08 13:19] jemacchi commented on #361
@aaime, ok. Then, it's just about refactoring. I can rename the method correctly and split responsibilities.

[2020-09-08 13:20] nmco commented on #361
Thx for the updates @jemacchi, please see my replies bellow:

I see, let's move forward, keep me posted on a any blocker or issue that may increase the estimate.

Only the later, [this one](https://github.com/geosolutions-it/eumetsat-EOWS/issues/361#issuecomment-684725715).

[2020-09-08 14:34] aaime commented on #357
Anything more to do here? Investitation done and mitigations are in place

[2020-09-08 15:38] simboss commented on #357
done, thx

[2020-09-08 15:38] #357 closed

[2020-09-09 12:15] simboss commented on #359
Latest feedback from the client.

`The user shall be able to download images and animations featuring an overlay showing the legend of one or more included visualizations. The user shall be able to choose the list of legends to be displayed, up to a maximum of 2.`

Shalle we update the estimate? A Obviously they need it right away.

[2020-09-09 13:52] nmco commented on #359
Yes we need to update the estimate to 16 hours, my suggestion is too extend the WPS process to receive a list of layers, like it already does, and as well a list of decorations (an empty space means that no decoration will be done for that layer), something like this:
[code]

The map produced for the input above will look like this (notice the two legends):
![image](https://user-images.githubuserc

[2020-09-09 14:30] nmco commented on #359
Taking into account the new requirements, which are not clear, e.g., what does this means?:_We would like the legends to be in a dedicated area of the image (in a bar at the top)._ Do they want the legend to not overlap the map? ... Anyway, whit a very high uncertainty I would push this to 5 / 8 days of work. **To reduce the high risk, a mock of what they want should be created and and proper plan

[2020-09-09 15:06] simboss commented on #359
I will go for 6 given the amount of time we have asked in the past.

[2020-09-10 09:29] dromagnoli commented on #376
See related GeoServer ticket:
https://osgeo-org.atlassian.net/browse/GEOS-9733

[2020-09-10 09:30] dromagnoli commented on #376
Fix ready to be merged on master branch (some osgeo repo down at the moment making travis fail, it was green yesterday before updating a comment line).
Fix also ported to EOWS-158 branch

[2020-09-10 09:34] dromagnoli commented on #366
Closing this ticket after having isolated the multicoverage initialization topic on its own ticket:
https://github.com/geosolutions-it/eumetsat-eows/issues/375

[2020-09-10 09:34] #366 closed

[2020-09-10 20:54] nmco commented on #305
Is this still relevant?

[2020-09-11 14:19] jemacchi commented on #361
@aaime could you please take a look at this [PR](https://github.com/GeoWebCache/geowebcache/pull/879) ? thanks

[2020-09-11 15:47] simboss commented on #363
what is the content of these folders @randomorder, can you let me know?

[2020-09-11 15:50] #344 closed

[2020-09-11 15:50] simboss commented on #344
the original issue is closed already...

[2020-09-11 15:54] simboss opened #377 "Country borders embedded in the OSM Layers in EUMETView NG"
@simboss commented on [Fri Sep 11 2020](https://github.com/geosolutions-it/support/issues/855)

From [IMGMT-378](https://cgi-pathfinders.atlassian.net/browse/IMGMT-378).

This is high priority and simple.
I already removed (as a test) two layers from the master config of the dark background, we need to do the same for the light one, deploy the change, clean the cache and then maybe a seed a little

[2020-09-11 16:02] simboss opened #378 "Timeliness issues with the EUMETView Ng ingestion"
See issue [IMGMT-379](https://cgi-pathfinders.atlassian.net/browse/IMGMT-379).

Daniele has provided a code fix for this which we should deploy asap on DEV, test and then move to prod.
The issues related to the fix are:
- #366 (imageMosaic source check initialization)
- #374 (single file harvest triggering a directory scan anyway)
- #376 (Importer triggering a directory scan when looking for suppl

[2020-09-11 16:03] simboss commented on #354
sees done no?

[2020-09-14 08:48] aaime commented on #305
@nmco good question, no clue...

[2020-09-14 08:53] simboss commented on #305
yes, but priority is low.

[2020-09-14 09:03] randomorder commented on #377
Done in DEV. Waiting for SSH access to OPE to deploy
![image](https://user-images.githubusercontent.com/5264230/93066065-cbddae00-f679-11ea-83a4-0982e9dbea55.png)
![image](https://user-images.githubusercontent.com/5264230/93066099-d8620680-f679-11ea-85b3-bb99e2b454a8.png)

[2020-09-14 09:20] randomorder commented on #363
@simboss this is from **DEV** (no access to OPE ATM):

Several empty dirs and some dirs containing SHP files
[code]

[2020-09-14 09:23] randomorder commented on #354
yes, closed by Fabrizio Borgia

[2020-09-14 09:23] #354 closed

[2020-09-14 09:31] simboss commented on #363
yes, it is exactly what I thought.

This is the import of the shapefiles that is probably leaving files around.

[2020-09-14 09:32] simboss commented on #363
let's keep an eye on this

[2020-09-14 15:49] randomorder commented on #378
I am about to deploy in DEV

[2020-09-14 16:45] randomorder commented on #378
Deployed in DEV moving to OPE for final testing

[2020-09-15 08:21] randomorder commented on #377
done on OPE as well. Waiting for feedback from Fabrizio Borgia

[2020-09-15 08:22] randomorder commented on #355
done

[2020-09-15 08:22] #355 closed

[2020-09-15 08:24] randomorder commented on #364
Estimation done. Closing, please re-open as needed

[2020-09-15 14:55] randomorder opened #379 "Test jpeg-png8 image format in Eumetview"
we're currently jpeg-png using Tiles should be much lighter in jpeg-png8

[2020-09-15 14:58] randomorder commented on #379
The relevant file Should be [this one in the source tree](https://gitlab.cgi-dev.de/eows/wms/wms-ui/blob/development/assets/data/productDecorations.json). But I don't have the grant to run [the pipeline](https://gitlab.cgi-dev.de/eows/wms/wms-ui/pipelines) associated with the repo.

[2020-09-15 15:02] randomorder commented on #379
But I think I am able to edit the config file in the running container :)

![image](https://user-images.githubusercontent.com/5264230/93227888-2ad41d80-f775-11ea-8028-72eed2ac0264.png)

[2020-09-15 15:06] simboss commented on #379
can you paste this file here?

We can do some tests in DEV and then port to OPE

[2020-09-15 15:12] randomorder commented on #379
[code]

(github does not allow dropiing JSON files so I copy-pasted it. I'll send it to you via email as well)

[2020-09-17 19:58] jemacchi commented on #361
@aaime
based on latest talk about concurrency test:
1) added system properties to define the MAX_RW_ATTEMPTS
2) In order to catch all the warning messages (from stress test) for each case on which an attempt to write is not working, it's required to update the putLayerMetadata method signature (that is throwing a StorageException). I checked alternative ways to do it without changing signature, bu

[2020-09-18 05:18] jemacchi commented on #361
@aaime just please avoid about last message, point 2.
Basically, after long time looking at code, I found what was happening. Concurrence check was failing in those cases on which temporary file was beat by another process that already updated the keys. So in that case it was necessary to re-read the properties again and add the new KVP if required.
In the middle of process, and for the sake of co

[2020-09-18 08:51] aaime commented on #361
The timestamp checks were supposed to limit this possibility (while we knew it was still a possibility). Looking at the code, it does not check that the timestamp has changed between writing the temp file, and doing the rename. Writing the temp file is IO, very slow compared to the instructions running on a CPU. Added a note in the comment.
Will it solve the issue? No, it still can happen. But it

[2020-09-18 23:22] jemacchi commented on #361
@nmco @aaime

I think we are done with the GWC issue (included your comment about checking content and repeating if required)

Concurrent tests based on the same FileBlobStore (pessimistic lock) are working fine.

Tests related to multiple GWC(stores) instances will be marked as @Ignore, since when running eventually could fail (we know that). Besides that, we will have a couple of tests available

[2020-09-22 11:13] nmco commented on #361
The [PR](https://github.com/GeoWebCache/geowebcache/pull/879) has been merged on master.

@aaime I have a few questions where I would need your help:
- I guess we need to backport this to stable at least 1.18.x ?
- We need to backport this to EUMETSAT custom branch (I don't know the branch)?
- @jemacchi pleas make sure you update GWC issue accordingly.

[2020-09-22 12:09] aaime commented on #361
@nmco:
* I would backport yes. Maybe on 1.17.x too
* Personally I would not touch the EUMETSAT custom branch unless we have a good reason, they already have a band-aid that's working fine. "Don't fix what ain't broken", if there is any issue left, we don't want to find out in the EUMETSAT production system

[2020-09-22 12:24] randomorder commented on #377
issue closed in JIRA by Fabrizio

[2020-09-22 12:24] #377 closed

[2020-09-22 12:28] jemacchi commented on #361
@Nuno Oliveira <nuno.oliveira@geo-solutions.it>
I'm trying to assign the issue in GWC  to myself and then move it in board,
but it seems that I need some permission to do it (
https://github.com/GeoWebCache/geowebcache/issues/880#)

Otherwise, I can comment solution in the ticket and current status (but not
to close the issue)

On Tue, Sep 22, 2020 at 9:09 AM Andrea Aime <notifications@github.com>

[2020-09-23 17:25] simboss commented on #361
@jemacchi let me know once this sits onto EMSA branch so that we can deploy it and test it.

As far as the backport is concerned, yes, I would do that and we fin issues, we fix them and backport them.

[2020-09-23 17:41] jemacchi commented on #361
@aaime  when possible please can you assist me on what @simboss  mentioned [here](https://github.com/geosolutions-it/eumetsat-EOWS/issues/361#issuecomment-697741205).
So far,  PR was merged on GWC master (https://github.com/GeoWebCache/geowebcache/commits/master ) and based on your comment [here](https://github.com/geosolutions-it/eumetsat-EOWS/issues/361#issuecomment-696679621)  would be to keep

[2020-09-24 14:22] simboss commented on #370
More info from the client about the memcached configuration:

`Here is the memcached config we use for both servers:
/usr/bin/memcached -u memcached -p 11211 -m 4096 -c 2048 -U 0 -l 127.0.0.1 –v
We use only 4 GB but could use much more here to have a bigger cache.`

[2020-09-25 12:27] jemacchi commented on #370
@simboss please check and let me know If I can start on this (cc: @randomorder )

Action Plan:

- Task 1: Create a docker-compose file including memcached, mapcache and geoserver services (just as a PoC of them working together)
    - In memcached: use parameters as mentioned by customer [here](https://github.com/geosolutions-it/eumetsat-EOWS/issues/370#issuecomment-698377439)
    - In mapcache, s

[2020-09-25 13:36] simboss opened #380 "Optimize tile writing code"

[2020-09-25 14:29] randomorder commented on #370
Hi @jemacchi @simboss

For Task 1:
- For the GeoServer docker images I'd use the ones that are actually being used by Eumetsat (masking the eumetsat specific datadir with the default one with a bind mount at /var/geoserver/datadir)
- I'd like to have a diagram of the proposed solution to understand how the containers interact with each-other?
Can you please create one? you can find an example [her

[2020-09-25 16:29] jemacchi commented on #370
@randomorder  I will work on a diagram and back it to you.

Regarding documentation and integration tests. Please @simboss  can you confirm @randomorder  question ? (based on that we can adjust estimation to include that items)

[2020-09-25 17:05] simboss commented on #370
@randomorder @jemacchi we have to support CGI for the performance test so this is something to take into account.

[2020-09-25 17:39] jemacchi commented on #370
@randomorder, I think my estimation of 1 day for Task 2 is still valid, since with CGI and performance tests that we need to take into account, the estimation will increase.
Can we set a call next days so you can point me on what that involves ? (so far, for task 2 I will need your assistance to get an accurate plan and estimation). Thanks

[2020-09-25 20:36] jemacchi commented on #370
As per your request @randomorder , please check this [diagram](https://docs.google.com/drawings/d/1Sr2xbOZ9fQzLF7tIE6RXkXfGMTRR1LcU9GryZZaeSeM/edit?usp=sharing). I think this covers the infrastructure that is in front of the geoserver nodes (esentially, 2 nodes with mapstore, as apache modules, in tandem with memcached instances - one for each one - and a disk cache configuration also for each map

[2020-09-27 18:08] simboss commented on #370
A few things:
1. I hope MapStore 2 is typo :)
2. A direct link between each MapCache instance and the GeoServer cluster should be avoided
3. Did you think abou putting Memcache together with MapCache? It should simplify things IMHO since each Memcached is used by a single MapCache instace, no?

[2020-09-27 21:42] jemacchi commented on #370
@simboss
1. Yes ! my bad. Thinking on Mapcache but wrote Mapstore (sorry)
2. Not sure which kind of component you are expecting between them (ie. it could be a LB, Nginx, etc), but since Mapcache is a module inside the Apache (and it's acting as a reverse proxy) each of the Apaches can also act as LB for accessing the Geoserver cluster. In any case, probably a diagram on current deployment would a

[2020-09-28 10:13] randomorder commented on #370
Mapcache will speak with the GeoServer Service in k8 that is taking care of balancing between the available GeoServer instances in the GeoServer StatefulSet. We'll need a diagram showing how MapC will integrate in the system. I'll create  one depicting how things are deployed right now.

I agree to keep them separate.

There are still some things to clarify. Some of them are for me to address, we

[2020-09-28 12:35] jemacchi commented on #370
Ok, that will be useful. Based on your comments, I think that then, in my diagram MapCaches will point to the entry point in the current Geoserver cluster (something like a wrapper for it)

Regarding your questions:

They mention that it's how they currently set them (and correct me @simboss , but I think that you asked just to keep same structure, right ?)

They have 1 MapC in front of each Geose

[2020-09-28 12:42] randomorder commented on #370
Ok, that changes things significantly, If these are "open" layers then we can merge the cache for all users..

[2020-09-30 08:23] simboss commented on #361
@jemacchi sorry my bad I wanted to say EUMETSAT.

Yes, we want to test the thing in DEV with @randomorder.
You need to cherry pick the change to a specific branch of our GWC fork which is documented [here](https://github.com/geosolutions-it/eumetsat-EOWS/wiki/Eumetsat-Pathfinder-2019-2020). Notice that on his branch as quick workaround we disabled entirely the code that manages parameters (see [th

[2020-09-30 09:00] randomorder commented on #353
waiting for feedback from Matthes on the gridset to use

[2020-09-30 13:33] jemacchi commented on #370
@randomorder  whenever possible please check  [mapcache-integration](https://github.com/geosolutions-it/eumetsat-EOWS/tree/mapcache-integration) branch.
In [README.md](https://github.com/geosolutions-it/eumetsat-EOWS/blob/55025a79fa47abf261a85a7ca322bee1e8de5908/WP9/mapcache-integration/README.md) you have description of what it's on docker-compose files and details on how I tested/validated that

[2020-09-30 13:46] jemacchi commented on #361
@simboss  I think I got it.
Basically, pick of my changes in GWC official and add them into [EOW-158](https://github.com/geosolutions-it/geowebcache/tree/EOWS-158) branch   (a cherry pick of them)  AND to consider the parameters thing (so we keep the workaround). Correct me if I'm wrong please.

[2020-09-30 13:51] simboss commented on #361
Correct.

Give priority to MapCache work before.

[2020-09-30 17:10] simboss commented on #370
/remind me tomorrow

[2020-10-01 16:58] #329 closed

[2020-10-01 16:59] simboss commented on #365
@dromagnoli if this has been done and backported to 2.17, we can close it.

Can you double check, thx?

[2020-10-01 16:59] #293 closed

[2020-10-01 17:00] #166 closed

[2020-10-01 17:00] simboss commented on #368
@dromagnoli let me know once this is done

[2020-10-01 17:04] #221 closed

[2020-10-01 17:06] #214 closed

[2020-10-01 17:06] #215 closed

[2020-10-01 17:06] #216 closed

[2020-10-01 17:06] #217 closed

[2020-10-01 17:06] #218 closed

[2020-10-01 17:06] #219 closed

[2020-10-01 17:06] #220 closed

[2020-10-01 17:06] #222 closed

[2020-10-01 17:06] #224 closed

[2020-10-01 17:06] #225 closed

[2020-10-01 17:06] #227 closed

[2020-10-01 17:06] #228 closed

[2020-10-01 17:06] #229 closed

[2020-10-01 17:06] #230 closed

[2020-10-01 17:06] #231 closed

[2020-10-01 17:06] #232 closed

[2020-10-01 17:06] #233 closed

[2020-10-01 17:06] #235 closed

[2020-10-01 17:06] #237 closed

[2020-10-01 17:06] #238 closed

[2020-10-01 17:06] #239 closed

[2020-10-01 17:06] #240 closed

[2020-10-01 17:06] #241 closed

[2020-10-01 17:06] #242 closed

[2020-10-01 17:06] #244 closed

[2020-10-01 17:06] #245 closed

[2020-10-01 17:06] #246 closed

[2020-10-01 17:06] #248 closed

[2020-10-01 17:06] #249 closed

[2020-10-01 17:06] #250 closed

[2020-10-01 17:06] #251 closed

[2020-10-01 17:06] #252 closed

[2020-10-01 17:06] #253 closed

[2020-10-01 17:06] #254 closed

[2020-10-01 17:06] #255 closed

[2020-10-01 17:06] #259 closed

[2020-10-01 17:06] #262 closed

[2020-10-01 17:06] #264 closed

[2020-10-01 17:06] #265 closed

[2020-10-01 17:06] #266 closed

[2020-10-01 17:06] #267 closed

[2020-10-01 17:06] #272 closed

[2020-10-01 17:06] #273 closed

[2020-10-01 17:06] #274 closed

[2020-10-01 17:06] #275 closed

[2020-10-01 17:06] #277 closed

[2020-10-01 17:06] #283 closed

[2020-10-01 17:06] #285 closed

[2020-10-01 17:06] #286 closed

[2020-10-01 17:06] #287 closed

[2020-10-01 17:06] #289 closed

[2020-10-01 17:06] #290 closed

[2020-10-01 17:06] #291 closed

[2020-10-01 17:06] #292 closed

[2020-10-01 17:06] #302 closed

[2020-10-01 17:07] #295 closed

[2020-10-01 17:24] simboss opened #381 "Allow returning a service exception when client provided WMS dimensions are not a match"
This is reported in [this](https://osgeo-org.atlassian.net/browse/GEOS-9757) JIRA report.

This has been impacting EUMETSAT since we where caching tiles at TIME instants in the future before data was there so we where getting a blank tile even if later data was there.  A workaround has been implemented with [this](https://github.com/geosolutions-it/geoserver/commit/54736817d0b5ef5965d0ba03ac76ae74

[2020-10-01 17:30] #327 closed

[2020-10-01 17:30] #345 closed

[2020-10-01 17:35] simboss commented on #370
@randomorder cab you give us some feedback on where you are?

[2020-10-01 17:43] simboss commented on #376
@dromagnoli has this been backported to 2.17?

Can we close this then?

[2020-10-01 17:44] simboss commented on #374
@dromagnoli has this been done?

Can we close this then?

[2020-10-02 07:18] dromagnoli commented on #365
Yep. I have already backported it. closing it

[2020-10-02 07:18] #365 closed

[2020-10-02 07:19] dromagnoli commented on #368
Done

[2020-10-02 07:19] #368 closed

[2020-10-02 07:20] dromagnoli commented on #376
Yep

[2020-10-02 07:20] #376 closed

[2020-10-02 07:21] dromagnoli commented on #374
Done

[2020-10-02 07:21] #374 closed

[2020-10-02 07:56] randomorder opened #382 "GeoServer Build Pipeline - Propagation od GWC config Changes"
There are two geowebcache config file in DEV, one in GS datadir and one in GWC_CACHE_DIR. Need to find out which one is actually being used by GS and check what the build pipeline for the docker image is doing. If the GWC_CACHE_DIR, then changes to GWC config are not burned in the docker image and not ported to OPE as part of the releases

[2020-10-02 08:00] randomorder commented on #382
We may need to set  `-DGEOWEBCACHE_CONFIG_DIR` inside the datadir

[2020-10-02 08:45] randomorder commented on #370
just started working on the integration in the DEV environment. I'll keep you posted

[2020-10-02 11:52] randomorder commented on #346
Waiting for validatio to deploy in OPE . See also #382

[2020-10-02 15:18] jemacchi commented on #370
@randomorder
I have added a custom template definition for TIME dimension. Please code pushed to [related branch](https://github.com/geosolutions-it/eumetsat-EOWS/tree/mapcache-integration).

Added [here](https://github.com/geosolutions-it/eumetsat-EOWS/blob/1e620de2d173a60ba3fe6c5271b4e24aa7147294/WP9/mapcache-integration/README.md) documentation details on how cache folder structure is created.

[2020-10-05 08:39] simboss commented on #372
@dromagnoli is this still pending or did we do anything with it?

[2020-10-05 08:40] #338 closed

[2020-10-05 08:40] #313 closed

[2020-10-05 08:41] #181 closed

[2020-10-05 08:41] #167 closed

[2020-10-05 08:42] #163 closed

[2020-10-05 08:42] #164 closed

[2020-10-05 08:42] #162 closed

[2020-10-05 08:42] #159 closed

[2020-10-05 08:43] simboss commented on #150
This has not been contracted

[2020-10-05 08:43] #150 closed

[2020-10-05 08:43] simboss commented on #149
This has not been contracted

[2020-10-05 08:43] #149 closed

[2020-10-05 08:43] simboss commented on #85
This has not been contracted

[2020-10-05 08:43] #85 closed

[2020-10-05 08:45] #31 closed

[2020-10-05 09:29] dromagnoli commented on #372
still pending

[2020-10-06 18:10] jemacchi commented on #361
@simboss @nmco
I have checked steps with @aaime  about integration of this issue into EOW-158 branch.
I have my local branch ready for pushing, but I'm afraid that I have only permissions for reading, since I got this:

[code]
If you enable writing permissions, then I can upload my branch, and create a PR for it.

[2020-10-07 08:20] #350 closed

[2020-10-07 12:53] jemacchi commented on #361
@simboss latest [comment](https://github.com/geosolutions-it/eumetsat-EOWS/issues/361#issuecomment-704455071) was about permissions, so now I pushed code and created the PR as per you instructions @aaime
@nmco  thanks for assistance on the permissions.

[2020-10-12 08:19] randomorder commented on #353
caching is working. CGI is discussing w/ Matthes about some changes to the client application but our work is in

[2020-10-12 08:19] #353 closed

[2020-10-12 08:22] randomorder commented on #337
still relevant? It is linked to [epic 336](https://github.com/geosolutions-it/eumetsat-EOWS/issues/336)

[2020-10-12 08:27] randomorder commented on #144
can we close this one?

[2020-10-12 08:56] #144 closed

[2020-10-12 09:10] simboss commented on #337
let's kill it for the moment

[2020-10-12 09:10] #337 closed

[2020-10-12 13:06] simboss commented on #380
@aaime can you elaborate a bit on this one so that we can throw it at one of the devs (including Ian Turton?).

We do not need a complete technical plan, just a few more indications on where to touch the code.

@chpicone keep an eye on this one so we decided who can do this once it is ready.

[2020-10-13 15:55] nmco commented on #361
@jemacchi you shoudl request @aaime review not mine, @aaime can you have look at the backport?

[2020-10-13 16:09] jemacchi commented on #361
@aaime this is the [PR](https://github.com/geosolutions-it/geowebcache/pull/6)

[2020-10-14 14:14] #347 closed

[2020-10-15 07:26] randomorder commented on #129
All ingestions are reportedly ok (Fabrizio Borgia)

[2020-10-15 07:26] #129 closed

[2020-10-15 07:27] randomorder commented on #336
all issues in the EPIC are closed. Closing the EPIC as well

[2020-10-15 07:27] #336 closed

[2020-10-15 08:21] randomorder opened #383 "Issue with E7G and NE layer"
Initially reported by Prasath (Eumetsat) on the 52N client. Some kind of clipping close to the limits of the gridset:
![animator](https://user-images.githubusercontent.com/5264230/96096552-421b3d80-0ed0-11eb-8c9b-2d103b5ad441.gif)

As you can see the effects are more visible for scales and some of the grds are affected more than others. Africa is a good example.

I was able to prepare a local envi

[2020-10-15 08:25] simboss commented on #383
hi @aaime this should be ready for you to work.

[2020-10-21 16:11] simboss commented on #383
Problems on the client shown below.
![image](https://user-images.githubusercontent.com/693880/96747615-c4bc6500-13c8-11eb-8e21-c1e3e0310c20.png)

![image](https://user-images.githubusercontent.com/693880/96747643-cf76fa00-13c8-11eb-8d74-14526c637e06.png)

![image](https://user-images.githubusercontent.com/693880/96747650-d1d95400-13c8-11eb-9014-fcad113fff93.png)

![image](https://user-images.githu

[2020-10-21 17:59] simboss commented on #383
[Here the gridset definitions](https://github.com/geosolutions-it/eumetsat-EOWS/files/5417865/geowebcache.txt)

[2020-10-22 13:43] aaime commented on #383
Tests with the gridsets appear to look fine. I believe I've found an issue in the GWC preview, for these oddball gridsets whose bounding box changes at each zoom level, reported here:

https://github.com/GeoWebCache/geowebcache/issues/886

[2020-10-22 13:50] simboss commented on #383
@aaime can you backport to the EUM branch and then contribute to GeoServer?

@randomorder please, schedule a deploy in dev as soon as @aaime does the backport.

[2020-10-22 14:38] aaime commented on #383
Patched pushed on the geotools EOWS-158 branch (the changes are all there). @randomorder have fun!

[2020-10-22 14:57] aaime commented on #383
Also merged on GeoTools master. Will wait for the test results to backport.

[2020-10-22 15:21] randomorder commented on #383
/remind me on Monday

[2020-10-26 09:21] randomorder commented on #346
GT improvements deployed in DEV. Waiting for feedback to move on to OPE

[2020-10-28 08:28] randomorder opened #384 "IMGMT-395 - Security Anomaly: Tomcat Manager is reachable from the public Internet"
While focusing on the main scope items, it was noticed that the host view.eumetsat.int EXT suffers from a misconfiguration inside the Nginx reverse proxy. This causes “/..;/ directives to be interpreted as dir-traversal allowing attackers to access resources that should not be publicly reachable. For example, it is possible to reach the Tomcat interface in the backend. The following URLs demonstra

[2020-10-28 08:29] randomorder opened #385 "IMGMT-396 - Security Anomaly: Stack Traces leak Information"
This ticket summarizes findings where stack traces leak information about the underlying software. This is usually an indicator that error reporting is too verbose. The following list enumerates all findings that were made throughout this pentest:

URLs that cause stack traces:
https://view.eumetsat.int/geoserver/gwc/rest/web/ EXT

While this is not a vulnerability per se, stack traces can aid att

[2020-10-28 11:37] randomorder opened #386 "[WMS-PER-SYS-0410] Caching layer"
EUMETView NG shall feature a scalable, containerized caching layer on top of the Geoserver.

I am drafting test scenarios for validation of this implementation

Can you please enlighten/correct me with the below info?

From the demo I understood

-All Free layers + 3 base map will be integrated into the Map cache functionality

-Restricted layers [ Both General license and Near real-time layers ]

[2020-10-28 15:47] simboss commented on #385
If I make a request to [https://view.eumetsat.int/geoserver/gwc/rest/](https://view.eumetsat.int/geoserver/gwc/rest/) I get a 403 as I would expect but the response above does not look right to me.

This is raising concerns as a result of penetration testing hence this might require fixing on our side.
@aaime do you think this is something we can improve at the GWC level? Can you throw us an estim

[2020-10-28 18:20] aaime commented on #385
Multiple things going on here:

* The exception comes from monitoring, it should be made more tolerant to requests it does not understand:
[code]

* Hitting the same URL locally, with the monitoring on, it does not happen... maybe it has already been made more tolerant, or some other plugin is involved (do we have GeoFence in the mix? it messes up with the setup of REST interfaces)

* Even hitting

[2020-10-29 09:37] randomorder commented on #382
Reported the issue to CGI: https://cgi-pathfinders.atlassian.net/browse/IMGMT-368

[2020-10-29 18:36] simboss commented on #383
CGI confirmed they are happy.

[2020-10-29 18:36] #383 closed

[2020-10-29 18:42] simboss commented on #385
Conclusion is, we fix it with devops expertise.

[2020-10-30 11:36] #113 closed

[2020-10-30 11:38] #331 closed

[2020-10-30 11:39] #330 closed

[2020-10-30 11:49] simboss commented on #381
@aaime can you follow up on this one?

I would want to implement a complete fix for this and remove the hack.

[2020-10-30 11:50] simboss opened #387 "Introduce new collections [WMS-OPE-ACC-1561][WMS-OPE-ACC-1562]"
Check clients requirements in [this document](https://docs.google.com/spreadsheets/d/1Vur0QEl0j5lSDMuXv2GWn7md0On0lwWQRECqM1a_PHA/edit#gid=97845544).

We need a clean list and complete samples.

[2020-10-30 12:26] simboss opened #388 "[WMS-PER-SYS-0370] Support CGI Performance Test"
From the client:

We shall support Prasath from CGI in defining the tests and performing them.

[2020-10-30 12:29] simboss opened #389 "[AOB XI ] Cache Cleaning script - (housekeeping)"
From client requirements:

[2020-10-30 13:51] aaime commented on #381
The actual fix is here, makes the WMS throw an exception in case of invalid time on nearest match: https://github.com/geosolutions-it/geoserver/commit/ff36755494bc9764802a7f5f96b1f4eafc7c4cd8
There are two subsequent commits, which were used to make the build pass.

The real fix would be to:

* Check the validity of time even when not using nearest match (checking it matches a time actually availa

[2020-10-30 18:11] #298 closed

[2020-11-02 12:00] randomorder commented on #382
MR submitted to fix it in DEV.  Waiting for a merge from CGI

[2020-11-02 15:57] randomorder opened #390 "GeoServer containers in OPE get OOMKilled continuously"
We had 300+ restarts in the last 3 days
![OOMKilled](https://user-images.githubusercontent.com/5264230/97889262-709c7380-1d2c-11eb-903b-721221d0cda7.png)

[2020-11-02 16:01] randomorder commented on #390
https://gitlab.cgi-dev.de/eows/wms/helm-charts/blob/master/charts/wms-geoserver/templates/statefulsets/statefulset-slave.yaml#L93

Hard limit is 660 Mi
[code]

Heap size is 5600m

[2020-11-02 16:03] randomorder commented on #390
I think we should first increase the limit to mitigate the issue then collect some memory dumps to analyze and understand why we're allocating this much memory (we're constantly hitting the limit under load, it's now a one off thing)

[2020-11-03 09:03] randomorder commented on #364
@lpasquali your thoughs with a  drafted proposal and an estimate before moving on with the implementation please

[2020-11-03 17:04] randomorder commented on #382
MR merged we should be good here. Moving to test

[2020-11-03 17:05] randomorder commented on #390
Full discussion in [this JIRA](https://cgi-pathfinders.atlassian.net/browse/IMGMT-397)

Changes under testing now

[2020-11-03 17:30] randomorder commented on #346
Sent a MR for VAL waiting for feedback

[2020-11-04 08:22] lpasquali commented on #364
after the tests on my small kubernetes testing environment:
- portworks is not suitable for non-cloud k8s.
- bitnami postgres implementation supports ha and it is easy to implement (works out of the box for helm2) -> deleting one pod of two in HA results for the psql client to not connect anymore until the deleted pod has been scheduled but maybe the psql client is not comparable to JNDI or the na

[2020-11-04 11:18] #311 closed

[2020-11-04 14:27] simboss opened #391 "[AOB V] Raise GetCoverage limit to 1GB"
From the client:

`The limit for the GetCoverage API response on EUMETView is 250 MB. EOWS should evaluate the implications of raising such limit to, say, 1 GB. If feasible and not harmful for the service, the limit should be raised.`

https://cgi-pathfinders.atlassian.net/browse/W9-18

[2020-11-04 14:28] simboss commented on #391
Aside from doing this, which is a minor thing, we shall test it to see the effect on GeoServer.
I would test it especially with NetCDF data.

Let's discuss how to do this.

[2020-11-04 14:30] lpasquali commented on #364
I tested deeply bitnami and zalando implementation against version 1.15.12 of kubernetes.
on the scalability point of view they are moree or less equal even if the zalando solution looks a bit faster reloading a failed postgres pod.

the gui in zalando is what makes such solution betterly manageable and monitorable, backups, cloned clusters, can be done in a few clicks.
zalando supports ssl for us

[2020-11-04 14:55] simboss commented on #359
@nmco we have a green light to move forward with this.

The client wants to have this in prod before Christmas. Taking into account that we have to deploy and test in DEV and then in PROD, we need this ready to be deployed by November 30th the latest, which means the change has been backported and cherrypicked to the EUM branch.

[2020-11-05 16:24] randomorder commented on #384
I submitted a MR to remove the tomcat apps. waiting for the merge to test in DEV

[2020-11-05 17:51] randomorder commented on #385
Submitted MR to configure ErrorValve. Waiting for merge to test in DEV

[2020-11-06 11:41] simboss commented on #146
@aaime let me knoow what you think about it

[2020-11-08 11:20] simboss opened #392 "[NEW] Test and experiment with JPEG-PNG8"
I think we should give another go at JPEG-PNG8 for many layers:

We should check if the output is:
- smaller on disk
- taking more or less the same time to generate
- visual quality is more or less the same

If so we shall enable it since:
- smaller disk means smaller cache and faster reads and writes
- smaller disk means faster dissemination

[2020-11-08 17:36] simboss commented on #359
@nmco let's discuss this on Tue as I need to have it ready by end of November.

[2020-11-09 16:23] lpasquali commented on #364
reminder:

- prepare diagram for modifiaction of the infrastructyre
- non-technical deployment of proposed soultion
- non technical lplan for database migration (maybe optional)

[2020-11-09 16:56] simboss commented on #364
Migrating the DB is not optional @lpasquali, I believe it is crucial!

@randomorder what do you think?

[2020-11-09 17:02] randomorder commented on #364
I was not 100% sure, now I am :) . Shouldn't be a problem make it non optional @lpasquali

[2020-11-09 17:05] lpasquali commented on #364
@simboss @randomorder not a problem for me, made not optional :-)

[2020-11-10 12:12] lpasquali commented on #364
Planning with graph about I'd implement this solution @randomorder:
https://docs.google.com/document/d/1BF3IqpgymfeTCjtsBkCyQ5C7WFVuFdO12FMiVJGiWCE/edit#

[2020-11-10 14:35] aaime commented on #146
Documents (not yet in any folder):
* Technical report: https://docs.google.com/document/d/1PVDrhocENbxlwRTGOcdq0pmEzlPnJJVFxnQs0CeQQ98/edit
* Tasks: https://docs.google.com/spreadsheets/d/1goNOZhgiXV8_UfZd474BCb6zOPy8EiERv2c_mRSFFeo/edit#gid=376642658

[2020-11-10 15:41] randomorder commented on #364
please check my comments in the doc
furthermore:
- is Postgis included out of the box?
- how do we monitor and administer the cluster?
- what kind of postgresql clustering is it / are supported?

[2020-11-10 16:18] simboss opened #393 "Liase with Alessandro to define ingestion paths"
@randomorder can you tell us how data is placed on the file system for ingestion ?

We have to provide paths for the new data sources hence this information is crucial

[2020-11-10 16:37] randomorder commented on #393
Data is published in a dedicated volume at  `/var/geoserver/data` and organized by license
[code]
You can see **LIC_FREE**, **LIC_GENERAL** and **LIC_NRT**. `eumetsat`, `temp`, `tmp` are mostly ampty empty and I'll probably be able to remove them

LIC_FREE for instance:
[code]

[2020-11-11 09:32] ElenaGallo opened #394 "worldcloudmap_ir_geotiff - World Cloud Map IR 10.8"
*product_name*: `"WorldCloudMap_IR_PlateCarree"`

File= `WorldCloudMap_IR_PlateCarree_2011022100.tif`
File Size= `71.837 KB`
Format= `GeoTIFF`
Size= `16384, 8192 pixels`
Compression= `DEFLATE`
Band= `3`
Type= `Byte`
Color Interpretation= `RGB`
Overviews= `no`

**GDALINFO**

Files: WorldCloudMap_IR_PlateCarree_2011010000.tif
Size is 16384, 8192
Coordinate System is:
GEOGCRS["WGS 84",
    DATUM["Wor

[2020-11-11 09:37] ElenaGallo opened #395 "wideareacoverage_rgbnatcolour - Wide Area Coverage RGB Natural Colour"
*product_name*: `"WideAreaCoverage_RGBNatColour_PlateCarree"`

File= `WideAreaCoverage_RGBNatColour_PlateCarree_2011022100.tif`
File Size= `163.834 KB`
Format= `GeoTIFF`
Size= `16384, 8192 pixels`
Compression= `DEFLATE`
Band= `3`
Type= `Byte`
Color Interpretation= `RGB`
Overviews= `no`

**GDALINFO**

Files: WideAreaCoverage_RGBNatColour_PlateCarree_2011022100.tif
Size is 16384, 8192
Coordinate Sys

[2020-11-11 09:42] ElenaGallo opened #396 "wideareacoverage_rgbfog - Wide Area Coverage RGB Fog"
*product_name*: `"WideAreaCoverage_RGBFog_PlateCarree"`

File= `WideAreaCoverage_RGBFog_PlateCarree_2011022100.tif`
File Size= `212.733 KB`
Format= `GeoTIFF`
Size= `16384, 8192 pixels`
Compression= `DEFLATE`
Band= `3`
Type= `Byte`
Color Interpretation= `RGB`
Overviews= `no`

**GDALINFO**

Files: WideAreaCoverage_RGBFog_PlateCarree_2011022100.tif
Size is 16384, 8192
Coordinate System is:
GEOGCRS["W

[2020-11-11 09:47] ElenaGallo opened #397 "wideareacoverage_rgbdust - Wide Area Coverage RGB Dust"
*product_name*: `"WideAreaCoverage_RGBDust_PlateCarree"`

File= `WideAreaCoverage_RGBDust_PlateCarree_2011010000.tif`
File Size= `221.019 KB`
Format= `GeoTIFF`
Size= `16384, 8192 pixels`
Compression= `DEFLATE`
Band= `3`
Type= `Byte`
Color Interpretation= `RGB`
Overviews= `no`

**GDALINFO**

Files: WideAreaCoverage_RGBDust_PlateCarree_2011010000.tif
Size is 16384, 8192
Coordinate System is:
GEOGCRS

[2020-11-11 09:54] ElenaGallo opened #398 "wideareacoverage_rgbconvection - Wide Area Coverage RGB Convection"
*product_name*: `"WideAreaCoverage_RGBDust_PlateCarree"`

File= `WideAreaCoverage_RGBConvection_PlateCarree_2011010000.tif`
File Size= `197.515 KB`
Format= `GeoTIFF`
Size= `16384, 8192 pixels`
Compression= `DEFLATE`
Band= `3`
Type= `Byte`
Color Interpretation= `RGB`
Overviews= `no`

**GDALINFO**

Files: WideAreaCoverage_RGBConvection_PlateCarree_2011010000.tif
Size is 16384, 8192
Coordinate System

[2020-11-11 09:59] ElenaGallo opened #399 "wideareacoverage_rgbash - Wide Area Coverage RGB Ash"
*product_name*: `"WideAreaCoverage_RGBAsh_PlateCarree"`

File= `WideAreaCoverage_RGBAsh_PlateCarree_2011010000.tif`
File Size= `252.064 KB`
Format= `GeoTIFF`
Size= `16384, 8192 pixels`
Compression= `DEFLATE`
Band= `3`
Type= `Byte`
Color Interpretation= `RGB`
Overviews= `no`

**GDALINFO**

Files: WideAreaCoverage_RGBAsh_PlateCarree_2011010000.tif
Size is 16384, 8192
Coordinate System is:
GEOGCRS["W

[2020-11-11 10:02] ElenaGallo opened #400 "wideareacoverage_rgbairmass - Wide Area Coverage RGB Airmass"
*product_name*: `"WideAreaCoverage_RGBAirmass_PlateCarree"`

File= `WideAreaCoverage_RGBAirmass_PlateCarree_2011010000.tif`
File Size= `212.305 KB`
Format= `GeoTIFF`
Size= `16384, 8192 pixels`
Compression= `DEFLATE`
Band= `3`
Type= `Byte`
Color Interpretation= `RGB`
Overviews= `no`

**GDALINFO**

Files: WideAreaCoverage_RGBAirmass_PlateCarree_2011010000.tif
Size is 16384, 8192
Coordinate System is

[2020-11-11 13:20] ElenaGallo commented on #394
Below is the sample file described above after pre-processing using JPEG compression:

File= `WorldCloudMap_IR_PlateCarree_2011022100.optimized.tif`
File Size= `11.857 KB`
Format= `GeoTIFF`
Size= `16384, 8192 pixels`
Compression= `YCbCr JPEG`
Band= `3`
Type= `Byte`
Color Interpretation= `RGB`
Overviews= `yes`

**GDALINFO**

Files: WorldCloudMap_IR_PlateCarree_2011022100.optimized.tif
Size is 16384

[2020-11-11 13:21] ElenaGallo commented on #387
@simboss Issues have been opened for the review of each class. Since all the classes are similar, I chose the World Cloud Map IR 10.8 class (# 364) as a representative resource and started the preprocessing documenting it [here](https://docs.google.com/document/d/1lOEm102msE6-zec_o21Uy7iVfdqO4ryaLn1c1b_S6Dc/edit#)

[2020-11-11 15:23] lpasquali commented on #364
yup I tested any possible solutrion against postgres for diskquota and postgis for geospatial data (see my comments above about how  I was importing geospatial data with postgis tools to validate the postgis part.

Prometheus

HA administered by patroni, with two nodes, Patroni elects the node without "master lock if master goes down" and updates the service accordigly to serve master from new nod

[2020-11-11 15:23] randomorder commented on #385
validated and queued for relase

[2020-11-11 15:23] randomorder commented on #384
validated and queued for release

[2020-11-11 15:28] randomorder commented on #378
From Fabrizio Borgia:

"Hi Simone Giannecchini ,

I totally agree about the change of approach with the Shapefile ingestion - since the GeoServer and the ingestion pods share a storage partition, i think it would be possible to just reference the shapefile, rather than posting it. I will discuss with the team and let you know. In general, I can say that we are very happy with the ingestion times r

[2020-11-11 15:28] #378 closed

[2020-11-11 15:32] lpasquali commented on #364
@randomorder documentation updated

[2020-11-11 15:54] simboss commented on #387
@ElenaGallo can you open an issue also for the netcdf sample and assign it to @dromagnoli

[2020-11-11 17:04] ElenaGallo opened #401 "Review and configure the new EUMETSAT NetCDF data"
On a list from EUMETSAT, which is available the **1.2 Portfolio (full)** tab of [this](https://docs.google.com/spreadsheets/d/1-pzNqUKQ9OTsyuSaGvGKLSGzfCsAHpEO/edit#gid=688484798) spreadsheet, on row 99 there is a NetCDF data to configure.

The following steps are required:
- quickly review the sources we are provided with
- suggest the preprocessing options and configure the source in GeoServer
-

[2020-11-13 10:20] simboss commented on #394
I would suggest to remove the other bands if the image is gray, we do not need 3 bytes.

Let's stick to DEFLATE for this image.

[2020-11-16 11:42] nmco commented on #359
@jemacchi the client and project codes are::

EUMETSAT - CGI | C068-EUMETSAT-CGI-2019-WP1
-- | --

@jemacchi let's start by reading the requirements above, prepare your questions and draft a plan, then let's have a meeting to decide how to move forward.

[2020-11-16 16:00] jemacchi commented on #359
@nmco

**Estimation:**
2 days  (check assumptions/consideration notes)

**Considerations/Assumptions:**
-  estimation is not including changes on WMS Decorations framework. It includes only changes in the WPS process that allows to get decorations applied.

Regarding WPS:
- decoration input (xml definition) wont be changed to cast to List at execute method (line 124, DownloadMapProcess.java) since

[2020-11-16 17:45] nmco commented on #359
Meeting minutes with @jemacchi  16 of November 2020:
- Functional requirements:
  - The client wants to be able to download a map /(in this case with will be an animation displaying meteo satellite data) that contains the base layer and the imagery layer with a legend for both.
  - The base map and the selected layer (imagery) should be displayed, currently if multiple layer are requested (for exa

[2020-11-16 17:50] nmco opened #402 "Support decorations with multiple layers in downloads"
For reference, legends are displayed on the ``mp4`` videos that can be export from EUMESAT portal, legends inclusion need to be activated explicitly, not all layers have a legend defined. Behind the scenes the portal uses GeoServer ``wps-dowload`` plug-in to export the video and associated legend [through a ``gs:DownloadMap`` WPS process invocation.](https://github.com/geoserver/geoserver/blob/mas

[2020-11-16 18:21] simboss commented on #359
@nmco @jemacchi keep an eye on the time budget, please.

That said, let me know if you need some sample data. It might not be super easy to set that up though, we might need @randomorder help as these are imagemosaics. I think this is crucial to avoid wasting time aftewards.

[2020-11-16 19:29] jemacchi opened #403 "Support legend styling on WPS"
From requeriments defined in [epic ticket](https://github.com/geosolutions-it/eumetsat-EOWS/issues/359) when donwloading a map/layers with WPS, client wants:
- The client wants the legend of layers to be grouped on the top bar with a custom background color (ie. grey)
- They also want the possibility of defining the size legend size relative to the image size.

[2020-11-16 19:51] jemacchi commented on #403
Since it's not clear from customer requirements how a donwloaded image should look like,[ 3 mocks ](https://docs.google.com/drawings/d/1L1HLWRleio_ExtbtMmy5B8spnokV_n0hqpX4EbZLZ9I/edit?ts=5fb2c11b)were created in order to get a confirmation on which should be implemented.

Those are (simplest implementation to complex one):

**Mock 1**
- implies styling decorator (decorators currently allow to def

[2020-11-16 19:55] jemacchi commented on #403
@simboss @nmco
Ticket includes details about options for implementation of customer requests based on different approaches (since requirements were not completly clear, there are a couple of provided mocks with details on what involves each implementation).
Please check and let me know which is the option that matches client idea (so we can estimate accordingly).
I listed options (mocks) based on

[2020-11-16 20:57] jemacchi commented on #402
Proposed solution implies:

- Adding a new tag dwn:DecoratorName in [Layer parametricEntity](https://github.com/geoserver/geoserver/blob/master/src/community/wps-download/src/main/java/org/geoserver/wps/gs/download/Layer.java )

Considerations:
  - that would allow to match a layer Name with a DecoratorName, so each layer can identify the decorator to be applied in a simple way.
  - then modify [b

[2020-11-16 21:09] jemacchi commented on #403
Considering Mock 1 + payload defined based on ticket [402](https://github.com/geosolutions-it/eumetsat-EOWS/issues/402) proposal, basically this is an example as in mock1 image.
[code]

considering 2 different layouts as follow:

[code]
and

[code]
resulting in

![image](https://user-images.githubusercontent.com/1171099/99308331-951d4300-2836-11eb-8860-b799d3f09085.png)

[2020-11-17 09:22] ElenaGallo commented on #394
Here I have reported a sample with a band and with a deflate optimization:

File= `WorldCloudMap_IR_PlateCarree_2011022100.tif`
File Size= `74  MB`
Format= `GeoTIFF`
Size= `16384, 8192 pixels`
Compression= `DEFLATE`
Band= `1`
Type= `Float32`
Color Interpretation= `Gray`
Overviews= `yes`

**GDALINFO**

Files: WorldCloudMap_IR_PlateCarree_2011010000.tif
Size is 16384, 8192
Coordinate System is:
GEOG

[2020-11-17 13:22] dromagnoli commented on #401
I have preprocessed the data using the scripts available here:
https://github.com/geosolutions-it/eumetsat-EOWS/tree/master/scripts/fix_netcdf_osi

The data is very similar to the PlateCarree so I have used same instructions provided here:
https://github.com/geosolutions-it/eumetsat-EOWS/wiki/Data-setup#netcdf-mosaic
Excluding the pre-processing step, having used the scripts from the above mention

[2020-11-17 16:58] nmco commented on #402
Quick comments:
- Estimates missing.
- Supporting both is quite confusing, but indeed we can just get ride of backwards compatibility.

[2020-11-17 16:59] nmco commented on #403
Quick feedback:
- Estimates missing.
- I woudl go for Mock 1, I will discuss with @simboss.

[2020-11-17 17:39] jemacchi commented on #402
@nmco

Estimate:  2 days

Regarding supporting both, I think that it's the only way that will allow current users to work as it's now (in future, probably we can set that as a deprecated version? not sure how usually you handle that)

[2020-11-17 17:43] jemacchi commented on #403
@nmco

In case of Mock 1, estimation is 2 days (work involves extending LegendDecorator and add legend_options option)

Mock 2 and mock3 involves those 2 days + creation of Decorators Composer (I'm not sure about ETA about developing a composer for it, but I should say that probably it would take as minimal 1 extra week, since need to realize how to do it)

[2020-11-17 19:07] nmco commented on #403
Meeting minutes of 17-11-2020:

- Extra information:

- Eumetsat registration is available here: https://eoportal.eumetsat.int/userMgmt and the portal here: https://view.eumetsat.int/productviewer?v=default

- We need to cute  a bit the scope:
  - We will allow maximum two legends to be included.
 - What the client wants is either mock 2 or mock 3, we need to estimate to decide, can we make it con

[2020-11-17 19:17] nmco commented on #359
@jemacchi make sure you check the new comments on the sub issues. We need to document [here](https://docs.google.com/document/d/1QF8ZfsL9F5-ZkniV_rvPzDPfGLEeiA-dXGQ9AO8Wjdo/edit#heading=h.tx9u7z3610ps) (Max 1 page) how the new API look like and the generated map, make sure you use print-screens and screenshots from EUMETSAT portal.

This is the document that will be shared with the client it needs

[2020-11-18 17:25] ElenaGallo commented on #394
[Here](https://docs.google.com/document/d/1lOEm102msE6-zec_o21Uy7iVfdqO4ryaLn1c1b_S6Dc/edit#) I have reported the preprocessing options and the way I configure the sources in GeoServer

[2020-11-18 21:27] nmco commented on #359
@simboss you can find [here](https://docs.google.com/document/d/1QF8ZfsL9F5-ZkniV_rvPzDPfGLEeiA-dXGQ9AO8Wjdo/edit#heading=h.qo0xkt1jy78l) the plan for implementation. The estimate to implement waht's described on the document is 4 days. 19 hours were already spend on the planning.

[2020-11-19 09:01] simboss opened #404 "Assorted Scalability issues"

[2020-11-19 09:03] simboss opened #405 "Avoid accesssing ImageIO registry on remote image read (before slicing)"

[2020-11-19 09:03] simboss opened #406 "Avoid disposing images at end of each sub-image generation during tile extraction"

[2020-11-19 09:03] simboss opened #407 "Relax synchronization in the GWC.get() method"

[2020-11-19 09:03] simboss opened #408 "Relax FontCache.getFont synchronizations"

[2020-11-19 09:10] simboss opened #409 "Introduce support for libjpeg-turbo"

[2020-11-19 09:10] simboss opened #410 "Use PNGJ for writing PNG images"

[2020-11-19 09:10] simboss opened #411 "High-perf formats optimizations"

[2020-11-19 09:17] simboss opened #412 "BufferedImageAdapter avoidance"
BufferedImageAdapter avoidance, build code to access the right part of the parent's raster in PNGJ

[2020-11-19 09:28] simboss opened #413 "Fix ordering of threads # in seeding"
This is pretty obvious, just check the GWC GUI.

[2020-11-19 09:35] simboss commented on #404
@aaime let's start with those in ready.

As usual, let's backport as back as possible.

[2020-11-19 14:19] nmco commented on #359
For reference:
- Adding the top gray bar was estimated to 4 days.
- Adding the resizing of legends (with the available interpolations, low quality) 1.5 days.

[2020-11-19 14:20] nmco commented on #402
We can move on wiht this one @Jose.

[2020-11-19 14:29] randomorder opened #414 "Add all public layers to MapCache ConfigMap"
Update the Mapcache ConfigMap with All PUBLICLY available layers

[2020-11-19 16:13] lpasquali commented on #414
I easily (using jninja2 tamplating) generated from a template all the stanzas for 80 public layers not impacted by the restrictions in security data regular expressions

[2020-11-19 16:23] randomorder commented on #414
please apply the new configmap with kubectl in DEV. Namespace "wms"

[2020-11-19 16:25] randomorder commented on #414
and pushe the script [here](https://github.com/geosolutions-it/eumetsat-EOWS/) in a subdir called "WP9"

[2020-11-20 09:38] lpasquali commented on #414
waiting for a fix on the image pull ongoing issue in the dev cluster

[2020-11-20 12:27] lpasquali commented on #414
@randomorder
https://gitlab.cgi-dev.de/eows/wms/helm-charts/merge_requests/6

[2020-11-20 13:20] randomorder commented on #414
I've asked CGI to move on with the deploy

Have you pushed the script?

[2020-11-20 14:51] aaime commented on #361
I still see this one in "review" column.. guess we can call it "done" right?

[2020-11-20 14:54] simboss commented on #361
it's not done, we still have to merge it.

[2020-11-20 15:46] randomorder commented on #414
CGI is testing in DEV

[2020-11-20 15:55] jemacchi commented on #402
@nmco  @aaime  @simboss

I want to share status, since I'm now working on an improvement (planning that) for LegendDecorators, since each LegendDecorator is applied when each map is created, and are not stacked into the produced image at the end of process.

This is currently an output (Eumetsat dataset test) for 2 raster layers (on which we expect to have legends at top) + some vectorial layers (

[2020-11-20 16:22] simboss commented on #395
@ElenaGallo I am asking @dromagnoli to document preprocessing options for this before we do configure in GeoServer.

@dromagnoli it would be interesting to make them COG so that we can use them in GeoServer soon.

[2020-11-20 16:34] simboss commented on #394
@ElenaGallo there is something wong in how you created the single band version.
Type is Float32 rather than Byte and the No Data value has changed.

I would suggest to do create a single band image as part of the gdal_translate command with the -b command.

That said, I think that with more recent GDAL you can skip some of these options. Please check the docs, an example for gdaladdo you do not ne

[2020-11-20 18:50] nmco commented on #402
Meeting minutes 20-11-2020:
- First all requested layer should be draw, and then only the decorators, like it is done for [the footer](https://github.com/geoserver/geoserver/blob/master/src/community/wps-download/src/main/java/org/geoserver/wps/gs/download/DownloadMapProcess.java#L365-L380). Otherwise they will overlap each other.
- Legends require a layer to be provided to the map content, we jus

[2020-11-23 16:29] dromagnoli commented on #395
Hi @ElenaGallo ,
I have produced this list of steps to produce lighter data (using internal JPEG compression on tiles) with binary mask.

First, set this ENV variable (even if processing several files, this Environment variable need to be set just once):
`GDAL_TIFF_INTERNAL_MASK=YES`

Separate the 3 bands as 3 different VRT files:

[code]

Compute the binary mask on (RGB=0,0,0).
`gdal_calc.py --ty

[2020-11-23 18:25] aaime opened #415 "FactoryRegistry scalability issues when APH is enabled"
Each request looks up a projection handler, going through a synchronized  method in the registry.

[2020-11-23 18:26] aaime commented on #412
Found a significantly easier way to deal with this, and implemented it.

[2020-11-23 18:27] aaime commented on #412
Merged in jai-ext, needs release, update of dependencies in GT/GWC/GS, backports

[2020-11-23 18:27] aaime commented on #408
Merged on master, needs backport

[2020-11-24 10:33] simboss commented on #395
@dromagnoli can you attach a screenshot of the result of the above?

[2020-11-24 10:53] dromagnoli commented on #395
![Eumetsatmosaic](https://user-images.githubusercontent.com/1278116/100084279-dc18c300-2e4a-11eb-989b-9ddefc6f23ab.jpg)

The actual nodata pixels (RGB(0,0,0)) are only at the poles and at the dateline:
![Eumetsatmosaicdateline](https://user-images.githubusercontent.com/1278116/100084653-51849380-2e4b-11eb-8d9a-0e9324a45ec8.jpg)

Every other almost black pixel is not a pure black at all but any typ

[2020-11-24 11:28] simboss commented on #395
thanks @dromagnoli

[2020-11-24 13:20] randomorder commented on #382
deployed on OPE

[2020-11-24 13:20] randomorder commented on #382
deployed on OPE

[2020-11-24 13:20] randomorder commented on #384
deployed on OPE

[2020-11-24 13:21] randomorder commented on #385
deployed on OPE

[2020-11-24 13:44] simboss opened #416 "Write a technical note on MapCache introduction"
We should start from [this](https://docs.google.com/drawings/d/1bo-kbEE1qB_eKZQYtqas8dOXd7sMogQWrVGXJbm8UwE/edit) diagram and create a couple of pages technical proposal, similar to what we did for the overlay.

We need this by 7th of December.

[2020-11-24 13:54] simboss commented on #395
@dromagnoli what is the final size of the image after preprocessing?

[2020-11-24 14:00] simboss opened #417 "Prepare a technical documentfor the PostgreSQL Integration"
We need to start with [this](https://docs.google.com/document/d/1BF3IqpgymfeTCjtsBkCyQ5C7WFVuFdO12FMiVJGiWCE/edit#heading=h.huwmetpb6w94) document and turn it into a technical note that we can share with the client.

We need this by December the 2nd.

[2020-11-24 14:00] dromagnoli commented on #395
For that one, 12 MB against the original 150 MB

[2020-11-24 14:08] #213 closed

[2020-11-24 14:13] simboss commented on #395
cool, thx

[2020-11-24 14:22] #145 closed

[2020-11-24 14:23] #148 closed

[2020-11-24 14:23] #147 closed

[2020-11-24 14:23] #195 closed

[2020-11-24 14:23] #299 closed

[2020-11-24 14:31] simboss commented on #370
This one duplicates #386

[2020-11-24 14:31] #370 closed

[2020-11-24 14:38] #333 closed

[2020-11-24 15:11] randomorder commented on #364
what  kind of replication is this based on @lpasquali ?

is multi-master cluster supported ?

[2020-11-24 15:21] lpasquali commented on #364
Spilo is the docker image which implements HA: https://github.com/zalando/spilo
dat for HA is replicated with Patroni which is bundled in the spilo docker image.

there is no multi-master support: https://github.com/zalando/patroni/issues/673

[2020-11-24 15:32] randomorder commented on #364
Didn't actually answered to my question
Synchronous vs Asynchronous -- Logical vs Physical -- WAL based?

[2020-11-24 15:35] simboss commented on #393
I have proposed the following in the excel file:

/LIC_FREE/worldcloudmap_ir_geotiff
--
/LIC_FREE/wideareacoverage_rgbairmass
/LIC_FREE/wideareacoverage_rgbash
/LIC_FREE/wideareacoverage_rgbconvection
/LIC_FREE/wideareacoverage_rgbdust
/LIC_FREE/wideareacoverage_rgbfog
/LIC_FREE/wideareacoverage_rgbnatcolour

Let's hear from them.

[2020-11-24 17:35] lpasquali commented on #364
it is Patroni based, which syncs configuration and data, it's actually none of the above.

[2020-11-24 17:38] simboss opened #418 "Change of label: Macedonia to North Macedonia"
Long story short, the OSM data in GPKG that we delivered to EMSA need a minor update to go from Macedonia to North Macedonia.

@aaime any hints on how we can do that without redeploying or such? I mean, can we run a SQL command without having to redeploy the whole GPKG?

https://cgi-pathfinders.atlassian.net/browse/IMGMT-402

[2020-11-24 17:47] randomorder commented on #364
Ok. doesn't help deciding on whether or not Zalando Operator is a viable solution. Also IF they implemented
a custom replication mechanism (unlikely) is not looking good in my eyes..

We only use solutions that we understand and, to a degree, know how to manage and debug. Remember
that if something goes wrong our client will blame us, not Zalando and the responsibility of fixing the system will be

[2020-11-24 18:06] jemacchi commented on #359
@simboss @randomorder @nmco

Final document on how to use/setup improvements [here](https://docs.google.com/document/d/1Fe39M7jLZQKUXaAE2cY_sHvtsPqcZgt989qRUeMR-I0)

[2020-11-25 11:21] ElenaGallo commented on #394
Here I have reported optimization review:

File= `WorldCloudMap_IR_PlateCarree_2011022100.tif`
File Size= `56.926 KB`
Format= `GeoTIFF`
Size= `16384, 8192 pixels`
Compression= `DEFLATE`
Band= `1`
Type= `Byte`
Color Interpretation= `Gray`
Overviews= `yes`

**GDALINFO**

Files: optimized/WorldCloudMap_IR_PlateCarree_2011022100.tif
Size is 16384, 8192
Coordinate System is:
GEOGCS["WGS 84",
    DATUM[

[2020-11-25 11:25] simboss commented on #394
@ElenaGallo why nearest compression???

[2020-11-25 11:30] simboss commented on #395
@dromagnoli don't we need to specify compression and tiling also for gdaladdo?

[2020-11-25 11:35] dromagnoli commented on #395
@simboss Nope.
I think that from version 2 of GDAL and above gdaladdo will use the same settings from the high resolution image.
so if JPEG compressed, overviews will be jpeg compressed too.
We need to update the tutorial pages sooner or later.

[2020-11-25 11:39] dromagnoli commented on #395
optionally, we can use a different tile size from the default one for overviews (which is 128 by default on overviews).
Using:
--config GDAL_TIFF_OVR_BLOCKSIZE 512

[2020-11-25 12:07] ElenaGallo commented on #394
@simboss I was wrong, being an area it is best to use *average*.

[2020-11-25 12:11] simboss commented on #394
area?

[2020-11-25 13:22] simboss commented on #402
@jemacchi feedback from our client, I'd like to hear what you think about it.

I think this is just about changing colors in the decorator, but still...

[2020-11-25 13:24] jemacchi commented on #402
@simboss  yes, it's all about styles that we can change. Let me bring you an output with that.

[2020-11-25 14:03] aaime commented on #404
The commits have landed on master... got stuck by Travis CI taking hours to give us a build instance. Will try to work on the backports later today.

[2020-11-25 14:17] jemacchi commented on #402
@simboss
This is the result applying those changes (note: for Roboto, it's required font installed in the JVM. Rest of items are covered with changes on xml files or jpg/png resources used in backgrounds)

![response-newstyles](https://user-images.githubusercontent.com/1171099/100239111-c4efd900-2f0f-11eb-8c5d-218ebfa64ec6.png)

[2020-11-25 14:24] lpasquali commented on #364
from this fosdem presentation I think they use streaming replication

https://archive.fosdem.org/2020/schedule/event/postgresql_postgresql_on_k8s_at_zalando_two_years_in_production/attachments/slides/3883/export/events/attachments/postgresql_postgresql_on_k8s_at_zalando_two_years_in_production/slides/3883/PostgreSQL_on_K8s_at_Zalando_Two_years_in_production.pdf

https://wiki.postgresql.org/wiki/St

[2020-11-25 18:20] aaime commented on #418
There are two paths to the update, one relatively easy, one a bit more annoying.

If all we care about is what's in the WMS/WMTS tile, then we just need to update the ne_10m_admin_0_countries_points, in particular, the LONG_NAME attribute. This cannot be done with sqlite3 library, as I thought, because the triggers in a GeoPackage need a few spatial functions not provided by sqlite3. However, ogr

[2020-11-25 18:48] simboss commented on #418
@aaime this is enough.

If you had to do the full path, how much time you think you'd need (ballpark estimate).

[2020-11-26 10:07] aaime opened #419 "GWC does not actually run more than 16 seeding threads"
Testing GWC seeing I've noticed that, while it's possible to configure up to 128 threads for seed, the actual execution never runs more than 16.
This is partly due to the thread pool sizing being hard-coded in the Spring context files (example from GeoServer, the same is there for standa-alone GWC):
https://github.com/geoserver/geoserver/blob/1b8a459b27881fece2783a8189ae5e6414bf3478/src/gwc/src/ma

[2020-11-26 10:24] simboss commented on #419
estimate?

[2020-11-26 11:01] aaime commented on #419
Making the pool configurable, I'd say 1.5 days.

I don't know why the only 16 threads in the pool are actually running though, would need to spend some time figuring that out for an estimate.

[2020-11-26 11:51] simboss commented on #418
1.5 days in the worst case scenario.

[2020-11-26 15:34] jemacchi opened #420 "Deploy support on decorations and legends improvements"
- Deploy features related to the [Epic](https://github.com/geosolutions-it/eumetsat-EOWS/issues/359).
- Test developed features (mentioned in Epic) invoking calls to the WPS API.

[2020-11-26 16:57] ElenaGallo commented on #387
@simboss [Here](https://docs.google.com/document/d/1lOEm102msE6-zec_o21Uy7iVfdqO4ryaLn1c1b_S6Dc/edit#) the final documentation

[2020-11-26 18:11] aaime commented on #415
This one is the only change in the group I did not backport to GeoTools 24.x. It provides less improvements than the others, and changes the main GeoTools registry, used also by CRSs, datastores, functions, and so on, anything pluggable goes through there. Too risky.

[2020-11-26 18:12] aaime commented on #404
Backported everything I could (all but one change in GeoToools) down to GT 24.x, GWC 1.18.x and GS 2.18.x

[2020-11-26 19:39] simboss commented on #387
I have started the review I will finish tomorrow.

[2020-11-27 13:44] simboss commented on #418
@aaime do we have the gpkg somewhere so that we can play with it?

[2020-11-27 13:44] simboss commented on #418
@aaime @randomorder I assigned this to @jemacchi as we are starting to use him for EUM as well.

[2020-11-27 17:36] ElenaGallo commented on #387
@simboss [Documentation](https://docs.google.com/document/d/1lOEm102msE6-zec_o21Uy7iVfdqO4ryaLn1c1b_S6Dc/edit#) review done.

[2020-11-30 11:20] randomorder commented on #417
https://docs.google.com/document/d/1KOG3FEDRoYlQ7dJMSMhdvAd0cCR9CD243VSyNUugr54/edit

[2020-11-30 11:20] #417 closed

[2020-11-30 11:22] randomorder opened #421 "Set up PostgreSQL cluster in DEV using Postgres Operator"
Deploy a PG cluster in DEV environment using postgres operator

[2020-11-30 11:23] randomorder opened #422 "Postgres Cluster Status Monitoring"
[code]

[2020-11-30 11:24] randomorder opened #423 "Estimate resource requirements for Postgres Cluster instances"

[2020-11-30 11:24] randomorder opened #424 "Installation instructions for Postgres cluster and Postgres Operator"

[2020-11-30 11:31] randomorder opened #425 "Migrate Data to new Postgres cluster"

[2020-11-30 13:26] randomorder commented on #364
Technical note [here](https://docs.google.com/document/d/1KOG3FEDRoYlQ7dJMSMhdvAd0cCR9CD243VSyNUugr54/edit) @lpasquali

[2020-11-30 13:34] jemacchi commented on #418
@simboss @randomorder
Today started trying to check the change in Dev env, but unfortunatelly the [viewer product](https://view.cgi-dev.de/productviewer?v=default) is working really slowly, showing only the Natural Earth base layer, and no other layer.
**Blocked on testing it.**

On Friday, this is what I did: Found the file for dev env (location, etc). Downloaded. Changed gpkg locally with ogrinf

[2020-11-30 14:54] randomorder commented on #414
this work has been deployed

[2020-11-30 14:54] #414 closed

[2020-11-30 16:53] randomorder commented on #418
deployed in OPE
Anything missing @jemacchi?

[2020-11-30 16:56] randomorder commented on #346
[deployed ](https://cgi-pathfinders.atlassian.net/browse/IMGMT-368)

[2020-11-30 16:56] #346 closed

[2020-11-30 17:41] jemacchi commented on #418
@randomorder  no. Just that (modified gpkg file)

[2020-11-30 17:52] #418 closed

[2020-11-30 18:14] aaime commented on #404
Need to decide if we backport on the private branch or close this one?

[2020-11-30 18:54] simboss commented on #413
what is the status of this one @aaime ?

[2020-12-01 09:22] lpasquali commented on #364
- deploy operator
- deploy ui
- check operator from ui
- define cluster manifest (affinity/antiaffinity, node labels, pv size in the pvc, databases + roles)
- deploy cluster manifest (ui or cli, indifferent, afaik is not possble with helm directly)
- migrate databases from old cluster
- rollout other applications with new database endpoint

[2020-12-01 09:43] randomorder commented on #364
remember to document these steps @lpasquali

[2020-12-01 10:54] lpasquali commented on #421
ui and operator deployed, now building the yaml for the actual cluster

[2020-12-01 10:59] #407 closed

[2020-12-01 10:59] #412 closed

[2020-12-01 11:00] #408 closed

[2020-12-01 11:03] #146 closed

[2020-12-01 11:03] simboss commented on #146
closed in favour of #404

[2020-12-01 13:57] lpasquali commented on #421
cluster deployed

[2020-12-01 14:01] lpasquali commented on #425
data imported

[2020-12-01 14:47] simboss commented on #394
@ElenaGallo it seems that the layer configured on dev was not properly preprocessed. The data type is float32!

![image](https://user-images.githubusercontent.com/693880/100755519-8fa22a00-33ec-11eb-84c6-18d621948214.png)

[2020-12-01 14:51] simboss commented on #400
@ElenaGallo please, configure this mosaic as well in DEV.
No need to show the steps again in the report.

[2020-12-01 14:52] simboss commented on #400
@ElenaGallo please, configure also the same mosaic in a different layer after the JPEG compression so that we can see the difference.

[2020-12-01 15:02] aaime commented on #413
Merged and backported down to GWC 1.18.x

[2020-12-01 17:23] lpasquali commented on #425
@randomorder ready to do the needed modifications to geoserver

[2020-12-01 19:06] simboss commented on #401
@dromagnoli we would need to document the preprocessing for ASK (the company that works on the ingestion) and then document also how to configure the layer in GeoServer for EUMETSAT as they want to do it themselves.

I prepared 2 specific sections in this document for you to fill:
1. [This one](https://docs.google.com/document/d/1lOEm102msE6-zec_o21Uy7iVfdqO4ryaLn1c1b_S6Dc/edit#heading=h.jc3yl4juj

[2020-12-01 19:10] simboss commented on #389
From the client:

[2020-12-02 09:12] lpasquali commented on #425
waiting for OK to work on DEV

[2020-12-02 11:18] ElenaGallo commented on #394
@simboss the layer has been updated on DEV

[2020-12-02 11:21] ElenaGallo commented on #395
@simboss the layer with deflate compression was loaded on DEV

[2020-12-02 14:23] ElenaGallo opened #426 "msg_gii_kindex - MSG HR 0DEG Product GII K-Index"
*product_name*: `"MET10_GII_kIndex_PlateCarree"`
Sample data [here](https://www.dropbox.com/sh/m5iliisndsm0wat/AADHmKEX998xDeT59_FJk4Zoa?dl=0).
![1](https://user-images.githubusercontent.com/56537133/100884564-eaea2000-34b1-11eb-9122-19fb621f38fe.png)

File= `MET10_GII_kindex_PlateCarree_2011201130.tif`
File Size= `4.352 KB`
Format= `GeoTIFF`
Size= `3712, 3712 pixels`
Compression= `DEFLATE`
Band=

[2020-12-02 14:40] ElenaGallo opened #427 "msg_gii_liftedindex - MSG HR 0DEG Product GII Lifted Index"
*product_name*: `"MET10_GII_liftedIndex_PlateCarree"`
![2](https://user-images.githubusercontent.com/56537133/100886637-592fe200-34b4-11eb-8489-9bc72ccbc1bf.png)

File= `MET10_GII_liftedIndex_PlateCarree_2011201130.tif`
File Size= `3.542 KB`
Format= `GeoTIFF`
Size= `3712, 3712 pixels`
Compression= `DEFLATE`
Band= `3`
Type= `Byte`
Color Interpretation= `RGB`
Overviews= `yes`

**GDALINFO**

Files: M

[2020-12-02 14:44] ElenaGallo opened #428 "msgiodc_gii_kindex - MSG HR IODC Product GII K-Index"

[2020-12-02 14:46] ElenaGallo opened #429 "msgiodc_gii_liftedindex - MSG HR IODC Product GII Lifted Index"

[2020-12-02 14:47] ElenaGallo opened #430 "sentinel3a_wst_orbitfootprint - Copernicus S3A Orbital Tracks"
Sampe data [here](https://www.dropbox.com/sh/6e63zlj0jpj6qjq/AAAkkAIsP5un0uw240qLg2Uha?dl=0).
**OGRINFO**

      using driver `ESRI Shapefile' successful.
Layer name: Sentinel3A_WST_OrbitFootprint_PlateCarree_20201130000831_20201130014731
Metadata:
  DBF_DATE_LAST_UPDATE=2020-11-30
Geometry: Polygon
Feature Count: 35
Extent: (-180.000000, -85.918022) - (180.000000, 90.000000)
Layer SRS WKT:
GEOGCR

[2020-12-02 14:47] ElenaGallo opened #431 "sentinel3b_olci_level1rgb_fulres_platecarre - Copernicus S3B OLCI L1 RGB"

[2020-12-02 14:48] ElenaGallo opened #432 "sentinel3b_olci_level2_oceancolor_redres_platecarre - Copernicus S3B OC4Me CHL"

[2020-12-02 14:48] ElenaGallo opened #433 "sentinel3b_slstr_level2_sst_fulres_platecarre - Copernicus S3B GHRSST L2P SST"

[2020-12-02 14:49] ElenaGallo opened #434 "sentinel3b_slstr_sst_l3u_orbit_platecarree - Copernicus S3B SLSTR L3U SST"

[2020-12-02 14:52] ElenaGallo opened #435 "sentinel3b_wst_orbitfootprint - Copernicus S3B Orbital Tracks"
*product_name*: ``
Sample data [here]().

File= ``
File Size= ``
Format= ``
Size= ``
Compression= ``
Band= ``
Type= ``
Color Interpretation= ``
Overviews= ``

**GDALINFO**

[2020-12-02 14:54] ElenaGallo opened #436 "metop1_avhrr_orbitfootprint - EPS M01 Orbital Tracks"
Sample data [here](https://www.dropbox.com/sh/g7qyetsptia8zgc/AABu5cCLG2a25qNU7uRRczIRa?dl=0).

**OGRINFO**

      using driver `ESRI Shapefile' successful.
Layer name: Metop1_AVHRR_OrbitFootprint_PlateCarree_20201102005203_20201102023103
Metadata:
  DBF_DATE_LAST_UPDATE=2020-11-02
Geometry: Polygon
Feature Count: 35
Extent: (-180.000000, -90.000000) - (180.000000, 90.000000)
Layer SRS WKT:
GEOGCR

[2020-12-02 14:55] ElenaGallo opened #437 "metop2_avhrr_orbitfootprint - EPS M02 Orbital Tracks"
*product_name*: ``
Sample data [here]().

File= ``
File Size= ``
Format= ``
Size= ``
Compression= ``
Band= ``
Type= ``
Color Interpretation= ``
Overviews= ``

**GDALINFO**

[2020-12-02 14:56] ElenaGallo opened #438 "metop3_avhrr_orbitfootprint - EPS M03 Orbital Tracks"
*product_name*: ``
Sample data [here]().

File= ``
File Size= ``
Format= ``
Size= ``
Compression= ``
Band= ``
Type= ``
Color Interpretation= ``
Overviews= ``

**GDALINFO**

[2020-12-02 17:04] ElenaGallo commented on #387
@simboss update this epic with new data.
The GeoTiff are already DEFLATE compressed and with overview: 5 are RGB ( #426, #427, #428, #429 and #431)  and 2 are gray (#432 and #433).
We also have 5 Shapefile (#430, #435, #436, #437 and #438) and 1 NetCDF file (#343

[2020-12-02 18:42] simboss opened #439 "Documentation for preprocessing and configuring new collections for EUMETSAT"
We need to docume preprocessing options as well as configuration work for the new layers.

We have opened [this document](https://docs.google.com/document/d/1lOEm102msE6-zec_o21Uy7iVfdqO4ryaLn1c1b_S6Dc/edit#) to fulfill that.

[2020-12-02 19:25] simboss commented on #387
@ElenaGallo go ahead and create all the issues.

Assign NetCDF to daniele and Shapefile to me.

[2020-12-03 08:01] randomorder opened #440 "Some of the publicly available layer(Group)s are not cached in MapCache"
All publicly available layers should have been configured in MapCache.

MC [here](https://gitlab.cgi-dev.de/eows/wms/helm-charts/blob/master/charts/wms-geoserver/configFiles/mapcache.xml)

For instance, these are missing:
- copernicus:daily_sentinel3ab_olci_l1_rgb_fulres
- copernicus:daily_sentinel3ab_olci_l2_chl_fullres
- copernicus:daily_sentinel3ab_slstr_l2p_sst_fullres
- osmgray:dark
- osmgray

[2020-12-03 08:58] ElenaGallo commented on #387
@simboss issues have been created for all data and the documentation has been updated.

[2020-12-03 09:13] lpasquali commented on #364
@randomorder not a big success our test run, but besides I was not able to see any effect on slaves, I got the master working.
the logic which needed to be added to satisfy pre-existent passwords and to disable ssl added some complication and now the operator has problems with postgres password, but I think I can fix that, it is probably a character which gets intepretated in bash

[2020-12-03 11:30] lpasquali commented on #440
@randomorder in the meanwhile I added the one listed now checking all for missing

[2020-12-03 12:52] jemacchi commented on #420
@simboss  @randomorder
Deployment was done in DEV environment (and improvement tested). Now CGI Frontend team will be working on changes in UI so they can integrate it. Rest to do deployments in VAL & OPE.
[https://cgi-pathfinders.atlassian.net/browse/W9-7](https://cgi-pathfinders.atlassian.net/browse/W9-7)

[2020-12-03 14:49] lpasquali commented on #440
list of only added tilesets:
[code]

[2020-12-03 15:03] lpasquali commented on #440
back from done to make a script for this

[2020-12-03 16:29] lpasquali commented on #440
I should have done also the scripts to facilitate anyone but me to do it, the scriopts directory has a short doc on how to use its content @randomorder

[2020-12-03 16:29] lpasquali commented on #440
https://gitlab.cgi-dev.de/eows/wms/helm-charts/tree/mapcache_tileset_fix/charts/wms-geoserver/scripts

[2020-12-04 12:28] randomorder commented on #416
@simboss if you want to take a look: https://docs.google.com/document/d/1uztbqnTULI85SMhYUSiTgFyhJPH8kLxyNhVQ1R-wLxk/edit#

[2020-12-04 14:45] dromagnoli commented on #401
Done

[2020-12-07 09:30] randomorder opened #441 "GeoServer OOM Error in OPE"
Guillaume (Eumetsat) reported OOM errors in the OPE environment. I downloaded the memory dumps for further analysis.

@aaime available at aaaime@demo.geo-solutions.it:/home/aaime/eumetsat/07_12_2020/

[2020-12-07 11:07] randomorder commented on #441
Dumps also available here https://www.dropbox.com/work/Backups/Eumetsat/Incidents/07_12_2020

[2020-12-07 11:56] ElenaGallo commented on #387
@simboss I added the compressed jpeg file to the client [geoserver](https://view.cgi-dev.de/geoserver-master/web/wicket/bookmarkable/org.geoserver.web.data.resource.ResourceConfigurationPage?37&name=wideareacoverage_rgbnatcolour_jpeg&wsName=mumi) and its configuration to the [document](https://docs.google.com/document/d/1lOEm102msE6-zec_o21Uy7iVfdqO4ryaLn1c1b_S6Dc/edit?ts=5fc8ecd3#heading=h.plfp9x

[2020-12-07 12:00] aaime commented on #441
Checked the dumps, the situation is the same in all of them:

![image](https://user-images.githubusercontent.com/325433/101348396-dd56e080-388b-11eb-942e-fa1b59ed50cf.png)

It seems there are too many animation processes running at the same time, 128 on the first node, 134 on the second, 72 on the third. These are the one actually computing images and adding them to the animation stream mind, ther

[2020-12-07 12:04] randomorder commented on #441
These are current limits

![image](https://user-images.githubusercontent.com/5264230/101348849-a1704b00-388c-11eb-87f0-1ccb06c9b6c7.png)

Unfortunately no. The dumps were generated automagically by the jvms

[2020-12-07 13:20] aaime commented on #441
Hmmm.. with those limits it should not allow executions to pile up like this... not sure what is happening then, we should try to replicate I guess.

[2020-12-07 13:50] aaime commented on #441
Ok, think I got it.. the encoder builds images (the animation frames) [in a loop](https://github.com/geoserver/geoserver/blob/master/src/community/wps-download/src/main/java/org/geoserver/wps/gs/download/DownloadAnimationProcess.java#L170), and submits them [to an executor service with a single thread](https://github.com/geoserver/geoserver/blob/master/src/community/wps-download/src/main/java/org/

[2020-12-07 17:30] simboss commented on #434
@dromagnoli this is for you

[2020-12-07 17:38] simboss opened #442 "Review Copernicus S3B Orbital Tracks"
Sample data [here](https://www.dropbox.com/home/data/EUMETSAT/WP9/sentinel3b_wst_orbitfootprint).

[2020-12-07 17:48] simboss commented on #433
@ElenaGallo we should go ahead and test the geoserver configuration for this one; this has to be also documented properly in the document you have been preparing.

I have attached the prebuilt legend to use for this layer (document how we set it up).
![sentinel3a_slstr_sst-640x80](https://user-images.githubusercontent.com/693880/101385920-b82e9600-38bc-11eb-9798-8d6532a13ce2.png)

[2020-12-07 17:52] simboss commented on #433
I do not like the fact that we are stopping early with the overviews.
Moreover the tiling seems too small, 256x256.

I would at least run gdaladdo on this file without parameters to add more overview levels.

[2020-12-07 17:53] simboss commented on #432
Same as #433, tiling is smallish and we could have more overviews.

[2020-12-07 18:04] simboss commented on #431
This one needs more overviews @ElenaGallo.

We cannot end up with overviews that are this big, when we zoom out we will have to to load too much data.

[2020-12-07 18:09] simboss commented on #426
This one is already preprocessed.

Tiling could be bigger, but still...

[2020-12-09 06:37] randomorder commented on #441
@aaime More memdumps from yesterday at `aaime@demo.geo-solutions.it:/home/aaime/eumetsat/08_12_2020`

Notable fact is that all six running GeoServer containers dumped their memory and all at the same time on Dec 8th @15:13

[2020-12-09 09:29] randomorder opened #443 "Review Apache Configuration for MapCache"
https://github.com/geosolutions-it/docker-mapcache/blob/master/mapcache.conf
https://github.com/geosolutions-it/docker-mapcache/blob/master/Dockerfile#L63

[2020-12-09 09:34] randomorder opened #444 "Lower Metatiling Factor in MapCache configuration"
https://gitlab.cgi-dev.de/eows/wms/helm-charts/blob/master/charts/wms-geoserver/configFiles/mapcache.xml

Currently set to 4x4 for all layers. With 512x512 tiles that turns into a 2048x2048 request to the backend which can be a bit heavy

Let's lower it to 1x1 for all layers withouth labels and copy the value from geowebcache for layers with labels

Keep things as they are for background layers wi

[2020-12-09 09:54] randomorder opened #445 "Test tile download speed from https://view.eumetsat.int/"
Test multiple scenarios with fast / normal and slow connection speeds. Make multiple requests. Try also opening many conections at ones. With and Without MapCache

[2020-12-09 10:08] aaime commented on #441
This is a different beast... there are a lot of Tomcat response threads computing images, a lot of them are in the act of writing out PNGS, but there is even more that are in the process of setting up the JAI chain.

Here are two samples.

The "still setting up the JAI chain" case, there are 65 of them:

[code]

The "writing out the PNG" case, there are 134 of them:

[code]

And a view of the dump

[2020-12-09 10:40] lpasquali commented on #421
quick recap: we will hopefully resume this from today or tomorrow

[2020-12-09 11:01] ElenaGallo commented on #432
@simboss this lalyer is already present on GeoServer (#291), so to add the new version I slightly changed the name of the layer (from `copernicus:sentinel3b_olci_l2_chl_fullres` to `copernicus:sentinel3b_olci_l2_chl_fullres_II),` as you can see from the [spreadsheet](https://docs.google.com/spreadsheets/d/1i2gLyWd6SPYSWDj_OWh3mjGhh3Px-md0/edit#gid=420042348)

[2020-12-09 13:37] ElenaGallo commented on #432
@simboss I have add more overviews and I have added it to the GeoServer. The documentation has been updated accordingly, both the preprocess [here](https://docs.google.com/document/d/1lOEm102msE6-zec_o21Uy7iVfdqO4ryaLn1c1b_S6Dc/edit#heading=h.uwelrj4dpe3x) and the GeoServer publication [here](https://docs.google.com/document/d/1lOEm102msE6-zec_o21Uy7iVfdqO4ryaLn1c1b_S6Dc/edit#heading=h.mvvxc2was3r

[2020-12-09 13:37] aaime commented on #441
By now I've checked all the dumps, they are showing the same pattern, in other words, this round of OOM, there are none related to the animation download.

[2020-12-09 14:07] randomorder commented on #421
We have a window for DEV this Friday from 11:30 onwards. You can work on it in the afternoon @lpasquali, ok?

[2020-12-09 14:13] randomorder commented on #441
Indeed  `controlflow.properties` is there but is disabled i.e. empty (maybe due to some of some kind of testing?)
I'll open an issue for that

[2020-12-09 14:30] randomorder opened #446 "Configure ControlFlow"
https://gitlab.cgi-dev.de/eows/wms/geoserver-data-dir/blob/master/controlflow.properties

controlflow.properties is empty

https://github.com/geosolutions-it/eumetsat-EOWS/issues/441

[2020-12-09 14:32] ElenaGallo commented on #432
@simboss I have add more overviews and I have added it to the GeoServer. The documentation has been updated accordingly, both the preprocess [here](https://docs.google.com/document/d/1lOEm102msE6-zec_o21Uy7iVfdqO4ryaLn1c1b_S6Dc/edit#heading=h.uwelrj4dpe3x) and the GeoServer publication [here](https://docs.google.com/document/d/1lOEm102msE6-zec_o21Uy7iVfdqO4ryaLn1c1b_S6Dc/edit#heading=h.mvvxc2was3r

[2020-12-09 15:19] randomorder opened #447 "Analytics for GeoServer"
In new EUM env there's no Analytics and we don't have access to any monitoring tool. Makes it Very hard to debug performance issues and outages at any level.

As a temporary workaround for the lack of analytics ,with EUM permission, we could set up a small daemon to send us over the audits to our ELK stack at  [https://analytics.geo-solutions.it/app/kibana](https://analytics.geo-solutions.it/app/k

[2020-12-09 16:33] aaime commented on #441
Estimate for fixing the animation process: up to 1.5 days.

[2020-12-09 16:37] simboss commented on #441
Should we also estimate the ability to configure limits on an animation basis like we have for download itself?

E.g. number of times, output size, input size??

Please, provide feedback and estimate.

[2020-12-10 07:31] #416 closed

[2020-12-10 08:44] #388 closed

[2020-12-10 08:55] simboss opened #448 "Review caching settings for MapCache"
- tiles on disk should not expire (for background layers and overlays) or expire after 1 month (for all other layers)
- http caching headers should be 1 week for all layers

[2020-12-10 09:03] simboss commented on #443
Useful docs.

- https://httpd.apache.org/docs/2.4/mod/worker.html
- https://httpd.apache.org/docs/2.4/mod/mpm_common.html
- https://httpd.apache.org/docs/2.4/misc/perf-tuning.html

[2020-12-10 09:08] simboss opened #449 "Checks MapCache/Apache HTTP Conf for performance optimizations"
- tile reading/writing
- HTTP connections pooling

[2020-12-10 15:56] randomorder commented on #444
# Backgrounds and Overlays
osmgray:osm_places
osmgray:waterareas
osmgray:waterways
osmgray:builtup_area
osmgray:land_polygons
osmgray:ne_10m_admin_0_boundary_lines_land
osmgray:ne_10m_admin_0_countries_points
osmgray:ne_10m_admin_1_states_provinces_lines
osmgray:ne_10m_bathymetry
osmgray:osm_places
osmgray:simplified_land_polygons
osmgray:waterareas
osmgray:waterways
osmgray:light_bg
osmgray:dark_

[2020-12-10 16:07] randomorder commented on #448
https://gitlab.cgi-dev.de/eows/wms/helm-charts/merge_requests/8/diffs?commit_id=a3557b7747cf4f3f004c132aa321b51ef866f16c

[2020-12-10 16:07] randomorder commented on #444
https://gitlab.cgi-dev.de/eows/wms/helm-charts/merge_requests/8/diffs?commit_id=a3557b7747cf4f3f004c132aa321b51ef866f16c

[2020-12-10 17:05] randomorder commented on #444
https://gitlab.cgi-dev.de/eows/wms/helm-charts/blob/9f56976e3da4e9a9a10a26b2e5a9b1054811b420/charts/wms-geoserver/configFiles/mapcache.xml

[2020-12-10 17:55] randomorder commented on #444
We may want to update to the scripts @lpasquali It's becoming more complex

Basically we want custom metatile, expire and auto_expire for the layers

Maybe adding  info to the input file along with the layer(group)s names in a CSV?
something along these lines:
[code]

Where -1 applies only for expires or auto_expire and means don't add the tag to the tileset (which in turn for MapCache means expir

[2020-12-10 19:02] simboss commented on #444
@randomorder we also need to make sure that from mapcache we strip the tiled=true parameter on public layers to not activate GWC in case we set the metatling factor to 1.

*This is super important*.

[2020-12-11 07:44] randomorder commented on #444
There's a problem with the new config @lpasquali

`tileset "copernicus:daily_sentinel3ab_olci_l2_chl_fullres" references source "copernicus:daily_sentinel3ab_olci_l2_chl_fullres", but it is not configured`

At a first glance, the problem seems to be here:
https://gitlab.cgi-dev.de/eows/wms/helm-charts/blob/9f56976e3da4e9a9a10a26b2e5a9b1054811b420/charts/wms-geoserver/configFiles/mapcache.xml#L2479

[2020-12-11 08:28] lpasquali commented on #364
@randomorder starting to build up a new cluster so we hopefully can test both on master and slaves with pipelines

[2020-12-11 11:32] randomorder commented on #446
Trying to assess the amount of HW resources we have available for GS:

In OPE we have 9 worker nodes, each one with 16 Cores and 32 GB RAM. Each node has 20-30 containers running

GeoServer containers are distributed evenly on the nodes by default scheduler policy, I don't see this being enforced at any level and it should be. We should try to avoid deploying on the same nodes as PostgreSQL contai

[2020-12-11 11:37] randomorder opened #450 "Cached tiles in MapCache are always stored as PNGs"
We have the format set to PNG at the moment so all tiles are stored on disk as PNGs (much heavier) and looks like the end user is always getting PNGs even when asking for format jpeg-png which in some cases should return jpeg encoded images.

Let's take the chance to check what happens with jpeg-png8 too. Not clear whether MapCache is also re-encoding the tiles every time before storing them on di

[2020-12-11 11:59] #390 closed

[2020-12-11 12:00] #385 closed

[2020-12-11 12:00] #384 closed

[2020-12-11 12:02] #334 closed

[2020-12-11 12:02] #335 closed

[2020-12-11 15:45] randomorder commented on #446
### Reasoning

- there are 6 GS slaves instances in OPE
- there is no domain sharding as of now
- WMS direct integration is enabled
- there is MapCache in the mix so "in theory" when a request hits GeoServer is likely going to be a MISS (for public layers)
- we don't want to be too conservative and start getting 500 errors in the client. It's hard to test and painful to get these changes from DEV

[2020-12-11 16:59] lpasquali commented on #364
looks like that deployment+ migration of data + deployment of geoserver master and slave were successful now that the CI was restored from CGI

[2020-12-11 18:02] lpasquali commented on #444
I tested on dev, on monday I will make the mr as first thing

[2020-12-11 18:18] simboss commented on #444
@allyoucanmap make sure we cover all the public layers!

[2020-12-14 09:16] randomorder opened #451 "(Optional) Test Connection LB with PgBouncer"

[2020-12-14 09:19] randomorder commented on #451
This is optional. Let's discuss it and see if we have enought time at the end of the PG HA cluster implementation

[2020-12-14 09:42] randomorder commented on #444
@lpasquali I had a chat w/ Simone

Let's do this

## Metatiling 2x2:
osmgray:light_bg
osmgray:dark_bg
osmgray:light
osmgray:light_labels
osmgray:dark
osmgray:dark_labels

Everything else set to 1x1

k?

[2020-12-14 09:49] randomorder opened #452 "Installation and Operations Manual"
To capture info on how to install and operate the PG cluster in  K8s.

Remember it must describe how to update the cluster definition and postgresql configuration.

Special requests by CGI:
·        how the cluster configuration can be monitored, that is the API endpoint to use to know which instance is serving the requests
·        basic procedures to recover from failures

[2020-12-14 10:00] simboss commented on #444
@randomorder @lpasquali as per my chat with @randomorder let's not expose the underlying OSM layers!

[2020-12-14 10:16] lpasquali commented on #451
@randomorder this will only work for SSL the bouncer won't accept non-ssl connection if I do not craft the zalando's docker image, which I'd avoid as I suspect that jdbc could work fine with ssl

[2020-12-14 10:32] randomorder commented on #451
that's fine we can configre connection pools in Tomcat to use SSL

[2020-12-14 10:40] lpasquali commented on #423
I did some kubectl top on namespaces of DEV, OPE, VAL (dev has new cluster right now):
[code]
Calculations are based on the OPE cluster, the one with most occupied resources.
I would give these resources to each pod of the new cluster:
[code]
These values should be very safe for any environment, including DEV where there are less resources, but if in dev they are considered overall too much, we co

[2020-12-14 11:11] randomorder opened #453 "Review GetCapabilities and Hide unused layers"
Hide all layers that are not being used by the client application. Especially those that part of the OSM layergroups.

For layergroups, we can set the mode to [Opaque](https://docs.geoserver.org/latest/en/user/data/webadmin/layergroups.html#layer-group-modes)  and test it in DEV

[2020-12-14 11:15] randomorder opened #454 "Missing Attribution for OSM Layers"
https://cgi-pathfinders.atlassian.net/browse/IMGMT-411

![image](https://user-images.githubusercontent.com/5264230/102074948-d7ba4700-3e05-11eb-8a94-2bbfe352a1f3.png)

Example Attribution Text:
[code]

[2020-12-14 11:20] randomorder commented on #448
something odd going on with the automations @simboss
![image](https://user-images.githubusercontent.com/5264230/102075558-b443cc00-3e06-11eb-9185-46a33d8c85b6.png)
several issues are moved back to backlog

[2020-12-14 11:21] randomorder commented on #444
we'll tackle that ins #453

[2020-12-14 11:26] randomorder commented on #423
So, you're estimating resources on the current usage on OPE? That's not a good way to estimate these values (we don't even know if it is under pressure at the moment or not)

Is that 0.1 CPU cores and 100MB of RAM?

We should be able to set different values for different environments using heml charts

we don't have access to prometheus. I am not sure what visibility they have on that either

[2020-12-14 12:03] lpasquali commented on #444
as of now there are still 3x3 in the config I worked on last Friday, should it be left or should I make them one of the two above? if second case, which one?

@randomorder

[2020-12-14 14:34] randomorder commented on #364
Deployment tested in DEV. Please revert to avoid breaking VAL and OPE now @lpasquali

[2020-12-14 15:32] randomorder commented on #444
Please check my comment above

[2020-12-14 16:05] lpasquali commented on #364
@randomorder rolled back

[2020-12-14 16:36] lpasquali commented on #423
[code]

antiaffinity is handled, I also will allocate all the shared buffers and caching for a 8Gb instance using these postgres configuration values:
[code]

[2020-12-14 17:32] lpasquali commented on #444
@randomorder I prepared a new mapcache.xml with the requested metatiling

[2020-12-15 08:42] simboss commented on #420
This is still pending for VAL from CGI, we shall ping him probably.

[2020-12-15 08:42] simboss opened #455 "Document EUM decorator configuration"
We shall prepare a small document about how to manage the decorators we prepared for EUM starting form the technical document we sent them.

This shall be a few pages not more.

[2020-12-15 09:01] simboss commented on #450
I would introduce the ability to use JPEG + PNG using by default 32 bits PNGs.
I would introduce 256 color PNGs on a few selected layers of choice to show EUM the difference then they can extend this to other layers themselves.

[2020-12-15 09:37] lpasquali commented on #444
@randomorder re-used same branch last used, I re-checked layers carefully, made MR for new mapcache.xml

https://gitlab.cgi-dev.de/eows/wms/helm-charts/merge_requests/12

[2020-12-15 09:54] randomorder commented on #454
Applied in GS for all OSM layergroups
![image](https://user-images.githubusercontent.com/5264230/102199268-b91a8580-3ec3-11eb-9319-6a83e834210c.png)

I can't see anything in the client. I guess CGI will have to implement it

[2020-12-15 10:30] randomorder commented on #446
applied in DEV

[2020-12-15 10:31] randomorder commented on #448
MR submitted

[2020-12-15 20:31] jemacchi commented on #455
@simboss please check if [this document](https://docs.google.com/document/d/1p3BG3JR3b4zUF6O6m16Cgvb1VWhfD1lVRJhCyxzwd10/edit?usp=sharing) is clear.

It's focused on how to add layouts in the context of Eumetsat (assuming that reader understand what a decoration file implies. BTW, I just added also some references, so if required, any reader can go to Geoserver documentation)

[2020-12-16 07:20] randomorder commented on #444
@lpasquali
CGI merged MC config again and it's broken again

https://cgi-pathfinders.atlassian.net/browse/W9-21?focusedCommentId=14048

https://gitlab.cgi-dev.de/eows/wms/helm-charts/blob/2b1d9408eb7dd302856a13be5d15c4b51dc8780f/charts/wms-geoserver/configFiles/mapcache.xml#L2590

I tough you tested it?

[2020-12-16 10:08] lpasquali commented on #444
yes I did, but I probably did some mistake while transoforming it to mapcache.xml from a configmap.
I found a way to "lint" mapcache.xml though, by compiling it locally (quite easy, no need to install it cfr https://mapserver.org/mapcache/install.html) then obtain mapcache_detail, I can reproduce the error:
[code]

[2020-12-16 10:14] lpasquali commented on #444
@randomorder I fixed the mapacahe.xml and checked that it is a working configuration file for mapcache as exposed above

[2020-12-16 11:01] lpasquali commented on #440
@randomorder this has been superseded by #444 going to close this

[2020-12-16 11:01] #440 closed

[2020-12-16 14:41] randomorder commented on #444
deployed in DEV

[2020-12-17 14:58] simboss commented on #453
@randomorder we should try to slip this in with the next batch of changes.
It's small but useful.

[2020-12-18 14:51] ElenaGallo opened #456 "Summary spreadsheet of the new data collection [WMS-OPE-ACC-1561][WMS-OPE-ACC-1562]"
Create a summary spreadsheet (example [here](https://docs.google.com/spreadsheets/d/1IxJuyJuxElBkZCIx_H7EFZvLhk8z9avYcBQaZ2ZRAHY/edit#gid=0) ) about pre-processing the [new data collection](https://github.com/geosolutions-it/eumetsat-EOWS/issues/387)

[2020-12-18 15:46] jemacchi commented on #455
@simboss  I have added a new section in [documentation](https://docs.google.com/document/d/1p3BG3JR3b4zUF6O6m16Cgvb1VWhfD1lVRJhCyxzwd10/) related to Freemaker mechanism and how that is working on text decorations for Geoserver. Please check and let me know if it's clear (and in case we need to extend for more detail)

[2020-12-18 15:49] jemacchi commented on #420
CGI team deployed in VAL and confirmed behavior. @simboss  should we move/close this ticket ?

[2020-12-18 16:16] #420 closed

[2020-12-21 10:04] ElenaGallo commented on #456
@simboss [Here](https://docs.google.com/spreadsheets/d/1u29SpQaqNyUhq6-ep0T3miqpkWELuTpnLiVB3nC6UOU/edit#gid=0) the pre-processing summary spreadsheet

[2020-12-21 12:01] randomorder opened #457 "Review Connection Pool Settings"
To achieve max throughput we want to identify and remove bottlenecks at multiple levels. The requirement for the system is to be able to widthstand 1000 OGC reqs/s. Before we look at OGC requs we want to make sure the underlying infrastructure can handle such load.

2 Scenarios. Cache HIT and cache MISS:
1) End User -> Internet -> ? -> K8 Ingress -> K8 Service -> MapCache
2) End User -> Internet -

[2020-12-21 14:16] randomorder opened #458 "Grey background in Legends"
It is noticeable in DEV. There's a grey background in the legents (default TOC precipitation layer in the example)

![Eumetsat_view_2020-04-01T0730 (2).png](https://images.zenhubusercontent.com/5cd59eb418690954352b7621/e70d9866-12b5-41ee-a51c-8ddbb1553927)

[2020-12-21 14:16] randomorder commented on #458
Is this a regression? Can you please look at it @jemacchi ?

[2020-12-21 14:33] randomorder commented on #364
ETA to have this in production is mid January. Anything left to do / to validate on our side? Are we ready to move to VAL?

We can re-enable the cluster in DEV if we need to.

[2020-12-21 18:11] jemacchi commented on #450
@randomorder
I found that your mapcache config tailored to a couple of layers set in local env is working as expected (no major changes on that) so I want to review the cache folder (where mapcache is saving files) in dev environment. Can yu assist me on that (basically because I need some help with the k8s stuff).

With a command such as  **file $(find .) | grep -E "JPEG|PNG"** we can see if it's

[2020-12-22 20:42] jemacchi commented on #458
@randomorder
Found the issue.
In files left.xml and right.xml I have commented the line that enables bgcolor as part of the styling.
Now fixed in development environment (modified them into GS master datadir, and triggered a build&deploy so GS slaves copy the same datadir)

[2020-12-22 20:44] simboss commented on #458
@jemacchi the legends should fade seamlessly with the top bar.

Make sure the config is like that.

[2020-12-22 20:45] simboss commented on #458
I still see the difference.

[2020-12-22 20:51] jemacchi commented on #458
I'm testing using postman (since I ensure that way that I'm hitting directly to the geoservers). And getting this result:

![response](https://user-images.githubusercontent.com/1171099/102932008-42aaf400-447e-11eb-8302-8d43158ea134.png)

I'm checking now with the EUMETSAT client.

[2020-12-22 21:11] jemacchi commented on #458
@simboss
tried with a simple request using EUMETSAT client, 10 mins ago and got this response
![Unsaved_session_2020-02-17T0745 (2)](https://user-images.githubusercontent.com/1171099/102933304-ccf45780-4480-11eb-8eb0-6b093617db8e.png)

Now I'm trying to access again, and continue testing other cases, but the client is not usable, pods in kubernetes were removed, and cannot access https://gitlab.cg

[2020-12-22 23:38] simboss commented on #458
Everything is shut down at night and during weekends.
Right @randomorder ?

[2020-12-23 07:25] randomorder commented on #458
yes
the cluster was restarted at 07:00 Italy time

[2020-12-23 08:33] lpasquali commented on #451
I missed this comment sorry, so ssl, with or without pg bouncer could be a viable possibility @randomorder?

[2020-12-23 08:38] lpasquali commented on #421
work on 14/12 was done, we tested the cluster (no pg_bouncer) and it worked fine, there was also some more data in the db this time so the tests had more "time frames" of data for a specific layer to test in the front-end apoplication

[2020-12-23 09:03] randomorder commented on #421
@lpasquali please
1 - re-enable the HA cluster in DEV
2 - test the pooling with PgBouncer

Perform point 1 today if possible

[2020-12-23 09:17] lpasquali commented on #421
atm the cluster should be up and running in DEV, I only changed back to the old postgres the datasources, should we leave DEV with new cluster for all holidays?

[2020-12-23 09:34] randomorder commented on #421
yes please

[2020-12-23 10:02] randomorder commented on #451
GeoServer and Tomcat are both SSL capable
I guess PgBouncer is using a self-signed cert so we'll have to play with it, eventually disabling the validation on the JNDI connection pool and (if possible) in the GS datadir in the property files or alternatively install the cert in the JVMs

[2020-12-23 13:16] jemacchi commented on #458
@simboss @randomorder
ok. I understood that it was only on weekends, but good to know that is daily too.

Regarding issue, please check yourself too. I have tested:
1) Postman, working.

![response](https://user-images.githubusercontent.com/1171099/102998835-b85aa280-4506-11eb-8d0e-85456618712b.png)

2) Using Eumetsat client (see images below),  working.

Selection:
![Captura de pantalla de 2020-1

[2020-12-23 13:56] randomorder commented on #422
See my note in [the Tech note](https://mail-attachment.googleusercontent.com/attachment/u/0/?ui=2&ik=6972fa7574&attid=0.1&permmsgid=msg-a:r1856390993530343527&th=1760596e9adf9367&view=att&disp=inline&saddbat=ANGjdJ8pCfeiYJqThpN9PfYpGtECFucUam7EF5H5UnqILFb6h_I5GK8qQ4eIG0C9ZWKQLYIN1K25mx0S8S8lTtLqhrT7Goi6ztg221NksQhYZm5WE9ZZ91u1vaoYZULingUs42VTgFwXd7pVJHkJObJREBCcIni2iWQNHxt6mbvdqj1fW8FzyQzrgvTyFLTr

[2020-12-23 14:50] randomorder commented on #423
please update these values as agreed @lpasquali

[2020-12-23 15:10] lpasquali commented on #421
@randomorder
rollback procedure this includes restart of master:

[code]

test master
[code]

then re-run the pipeline for the docer image on the slaves

[2020-12-23 15:19] lpasquali commented on #421
@randomorder we are back on pg ha powered by zalando

[2020-12-23 15:36] lpasquali commented on #423
[code]

[2020-12-23 16:25] jemacchi commented on #430
@simboss
We were checking ticket with @randomorder .
Need to confirm, for these layers, is  workspace = Copernicous right ?

[2020-12-23 16:26] jemacchi commented on #436
@simboss
We were checking ticket with @randomorder .
Need to confirm, for these layers, is  workspace = eps,  right ?

[2020-12-23 16:26] jemacchi commented on #437
@simboss
We were checking ticket with @randomorder .
Need to confirm, for these layers, is  workspace = eps,  right ?

[2020-12-23 16:26] jemacchi commented on #438
@simboss
We were checking ticket with @randomorder .
Need to confirm, for these layers, is  workspace = eps,  right ?

[2020-12-23 16:37] randomorder commented on #421
cool thx

looks like DEV is performing much better now

[2020-12-23 17:19] randomorder opened #459 "Some labels are not rendered correctly in the Overlay layers"
For instance
![image.png](https://images.zenhubusercontent.com/5cd59eb418690954352b7621/bb1696b0-f44e-4590-8e7d-12abd366d1d4)

I'd check the fonts applied by the style. Maybe we're missing some, maybe we should use another font?

[2020-12-23 19:10] randomorder commented on #421
Please remember to update environment variables in the Helm charts too @lpasquali . They're used by the [Importer](https://docs.geoserver.org/stable/en/user/extensions/importer/index.html) plugin to populate the histogram tables..

[code]

[2020-12-23 21:08] jemacchi commented on #450
@randomorder
Since in local environment it worked, then as we discussed in chat, I tried in development environment.

What I see is that requests coming from [Eumetsat client ](https://view.cgi-dev.de/productviewer?v=default) for a known public layer (msg_fes:h03b) which result would be png or jpeg depending on behavior are not captured/handled by mapcache when defining parameter format=image/vnd.

[2021-01-05 21:48] jemacchi commented on #436
@randomorder
Status:
At the end of today I reach to import data into the Eumetsat Dev environment (unfortunatelly at 6PM my time it goes down, so cannot continue)
Basically there are differences/missed details from the shared [documentation](https://docs.google.com/document/d/1RuArSpSAlHPvx7g9vFjIqBxbCybVP97i9tm9bnXUvKc/edit#heading=h.h7hin1ifcbpd)  (sample was Ascat Wind Shapefiles).
After trying

[2021-01-07 02:57] jemacchi commented on #436
@randomorder
Finally, this is a [doc](https://docs.google.com/document/d/1e_QV1m82oepnd0aB1AC0-CPLfHtZT6GrQHIJW0oD26k/edit?usp=sharing) that resumes all the steps for importing zipped shapefiles in a postgis datastore in Eumetsat.

In the middle of the process, I found and learn tons of things related to Import module, and that unfortunatelly took me more time than what I wanted.
For instance:
- D

[2021-01-07 08:47] aaime commented on #441
Input size is somehow already controlled by the WMS limits, unless the request is only concerned with remote layers. Output size can only be checked after encoding, the issue we're having is with work-in-progress being held in memory.

How about a limit on the total sum of input(s) size? Expressed as width*height*bpp*frameCount (bpp: bytes per pixel). This way one can generate an animation with ma

[2021-01-07 09:26] lpasquali commented on #424
@randomorder just to be sure: this will be an internal document iirc

[2021-01-07 09:27] randomorder commented on #424
no, this is for Eumetsat / CGI

[2021-01-07 09:27] lpasquali commented on #452
@randomorder this document will be used by the client

[2021-01-07 09:37] lpasquali commented on #421
good to know, thanks, I will

[2021-01-07 09:37] randomorder commented on #450
We want to avoid changing the image format in the request. Check the documentation and google around to see what other people are doing

[2021-01-07 12:06] simboss commented on #436
Me and  @randomorder area adding notes to the document right now for you to improve.

This document should help some with little knowledge of the whole process to redo the same independently, bear that in mind.
Moreover, give these document a structure and introduction; this document is more a brain dump rather than a guide ATM.

[2021-01-07 12:09] #187 closed

[2021-01-07 12:10] simboss commented on #436
Aside, @jemacchi I fail to understand why you created yet another document.
The document to use is [this one](https://docs.google.com/document/d/1lOEm102msE6-zec_o21Uy7iVfdqO4ryaLn1c1b_S6Dc/edit#heading=h.57kv8ekdz6j3), there is already [a section](https://docs.google.com/document/d/1lOEm102msE6-zec_o21Uy7iVfdqO4ryaLn1c1b_S6Dc/edit#heading=h.57kv8ekdz6j3) for the shapefile import.

[2021-01-07 12:34] lpasquali commented on #421
@randomorder if rollout logic is clear to me, all we'd need to do, as database information is in default environment inside the chart for geoserver `charts/wms-geoserver/values.yaml`

all that should be needed is to add in the values file values-aws-dev.yaml for both slave and master statefulsets values:
[code]

I would not work in `charts/wms-geoserver/values.yaml` as it should be a file for defa

[2021-01-07 13:04] jemacchi commented on #436
It was just for purpose of having it in a clean doc (and avoid to modify the preexisting one).
Correct me if I'm wrong in procedure but mine was:  I took notes and then -after cleaning tons of attempts, fails, tests and stuff- created a "clean" doc (with format) to allow having a simple copy&paste doc that will allow me to move it to any other location/doc. I wanted to avoid missing details from a

[2021-01-07 13:56] randomorder commented on #421
makes sense

yes, please make a MR for that

[2021-01-07 14:13] randomorder commented on #450
ignore my previous comment. Let's wrap this up and ask the client to use image/png for all Publicly available layers

Only thing left to is test png8 format and seee the effect on tile size and visual difference on a subset of layers @jemacchi
Of course we want to try this on layers that have a wide dynamic range and great variety of shades of colours

For instance:
- msg_fes:rgb_airmass
- coperni

[2021-01-07 16:18] jemacchi commented on #436
@simboss @randomorder

Please check this [document](https://docs.google.com/document/d/1e_QV1m82oepnd0aB1AC0-CPLfHtZT6GrQHIJW0oD26k/edit#) (based on talk with @randomorder and comments, I have restructured content, so it should be more clear now). Once you approve it, I can move content to the [original doc](https://docs.google.com/document/d/1lOEm102msE6-zec_o21Uy7iVfdqO4ryaLn1c1b_S6Dc/edit#headi

[2021-01-07 16:56] lpasquali commented on #421
In addidion to the proposed modification which would do the trick of overriding selectively the hostname for postgres indipendetly for each environment, there is still the need to ask CGI to make some modifications to the existing geoserver chart in orger to do an easy and painless switch betweeen the postgres:
1) context.xml we could ask to habdle different context.xml to be ingested in the conte

[2021-01-07 16:59] randomorder commented on #436
please check my comments

[2021-01-07 17:38] lpasquali commented on #424
https://docs.google.com/document/d/10A1BWfP44vTCu9TDZc0W-iI9AzZqE81p9d2ySxG4g1Q/edit#heading=h.mfto6dfqfqk4

[2021-01-07 18:46] simboss commented on #436
@jemacchi we do not need to import all the data.

We need to document properly and clearly the whole process to set up the store and layer in geoserver and then document the programmatic call to perform the append through the importer.

We can do this for a single shapefile dataset since they all look the same.

[2021-01-07 18:50] jemacchi commented on #436
@randomorder  whenever possible check doc (resolved all items and commented the one related to the boundingbox calculation)

@simboss thanks for response. Then, I will change issues status all together.

[2021-01-08 09:03] randomorder commented on #421
Generally speaking, externalizing all references to postres is desirable. We'll ask CGI to help with it after we delivered Postgressql HA

[2021-01-08 12:59] randomorder commented on #452
done @lpasquali ?

[2021-01-08 13:16] jemacchi commented on #436
@simboss @randomorder
Finally I discovered what was required to make the importer reach the "COMPLETE" status. I have adjusted [documentation](https://docs.google.com/document/d/1e_QV1m82oepnd0aB1AC0-CPLfHtZT6GrQHIJW0oD26k/edit#).

Please review if it's ok.

[2021-01-08 15:48] jemacchi commented on #436
@randomorder @simboss
Final documentation updated [here](https://docs.google.com/document/d/1lOEm102msE6-zec_o21Uy7iVfdqO4ryaLn1c1b_S6Dc/edit#heading=h.57kv8ekdz6j3)

Test case/sample was implemented on Dev enviroment (for Metop1 dataset)

[2021-01-08 15:48] jemacchi commented on #437
@randomorder @simboss
Final documentation updated [here](https://docs.google.com/document/d/1lOEm102msE6-zec_o21Uy7iVfdqO4ryaLn1c1b_S6Dc/edit#heading=h.57kv8ekdz6j3)

Test case/sample was implemented on Dev enviroment (only for Metop1 dataset)

[2021-01-08 15:48] jemacchi commented on #430
@randomorder @simboss
Final documentation updated [here](https://docs.google.com/document/d/1lOEm102msE6-zec_o21Uy7iVfdqO4ryaLn1c1b_S6Dc/edit#heading=h.57kv8ekdz6j3)

Test case/sample was implemented on Dev enviroment (only for Metop1 dataset)

[2021-01-08 15:49] jemacchi commented on #438
@randomorder @simboss
Final documentation updated [here](https://docs.google.com/document/d/1lOEm102msE6-zec_o21Uy7iVfdqO4ryaLn1c1b_S6Dc/edit#heading=h.57kv8ekdz6j3)

Test case/sample was implemented on Dev enviroment (only for Metop1 dataset)

[2021-01-08 16:18] lpasquali commented on #452
this is the document @randomorder https://docs.google.com/document/d/1xkuFshYSHsSEg2CIu5gNHGA9SUK4kyZSgUWq-fVnVG8/edit#

[2021-01-08 17:19] randomorder commented on #452
Please also add explicit  explanations on:
- how to check the logs
- how to restart the instances (or the cluster)
- how to make configutation changes to postgresql (equivalent to chaning postgresql.conf)

[2021-01-08 17:57] randomorder commented on #424
minor changes, please check my comments

[2021-01-08 19:39] jemacchi commented on #450
@randomorder  please check results below (those samples provides an idea of what is happening regarding quality and size)

### CASE msg_fes:rgb_airmass

**From Mapcache (as client is doing):**

![msg_fes-rgb_airmass-mapcache-png8](https://user-images.githubusercontent.com/1171099/104056619-8e280680-51cf-11eb-845f-8ccd5864ac31.png)

_PNG8 - 31.4kb - 512x512_
https://view.cgi-dev.de/geoserver/wms?SE

[2021-01-08 20:59] jemacchi commented on #436
@simboss I have updated [doc](https://docs.google.com/document/d/1lOEm102msE6-zec_o21Uy7iVfdqO4ryaLn1c1b_S6Dc/edit#heading=h.57kv8ekdz6j3) based on last talk (giving context based on Eumetsat, instead of a generic explanation), added captions and checked comments.

[2021-01-11 08:43] aaime commented on #404
Been sitting here for a while, need to either decided to backport, or mark as done? Moving to blocked in the meantime.

[2021-01-11 10:43] lpasquali commented on #424
@randomorder changes done, let me know if it is now ok

[2021-01-11 10:48] lpasquali commented on #452
I should have implemented all the requested additions @randomorder

[2021-01-11 13:29] randomorder commented on #452
thanks

[2021-01-11 13:29] #452 closed

[2021-01-11 13:29] randomorder commented on #424
thanks

[2021-01-11 13:29] #424 closed

[2021-01-11 19:00] jemacchi commented on #450
@randomorder find attached 2 images comparing airmass (in context of a "border", since we want to compare PNG encoding between png8 and png full, and when MIXED is enabled for Mapcache then it's always returning a JPG file)

That is I basically tested getting PNGs directly from Mapcache.
Result:
- Quality difference is noticed only on those tiles on which a wide colors/palettes are used (if not, d

[2021-01-12 10:08] randomorder commented on #436
Hi @jemacchi
we just noticed the time dimension was not enabled for the layer and moved ahead and configured it as follows
![image](https://user-images.githubusercontent.com/5264230/104299548-a779cd00-54c5-11eb-8a03-b8f8d3f04bcf.png)
please document it in the usual Doc (check again the conf at the time because we're playing with it and the exact values may change)

A few other things:
1 - the inge

[2021-01-12 12:26] simboss commented on #458
I just checked this in Validation with the default layers (Precipitation and Airmas)

![Clipboard01](https://user-images.githubusercontent.com/693880/104314374-9fc42380-54d9-11eb-90ed-d43e6ed61cd1.jpg)

and here below the result I am getting, which is not correct (the gray top bar is not covering the whole area!). Feedback @jemacchi ?
![Eumetsat_view_2021-01-12T1145](https://user-images.githubuser

[2021-01-12 13:55] jemacchi commented on #436
@randomorder
1. Added a new step during [Layer creation section](https://docs.google.com/document/d/1lOEm102msE6-zec_o21Uy7iVfdqO4ryaLn1c1b_S6Dc/edit#heading=h.tbjpwre6otr7) similarly to the bbox definition step
2. Regarding ingestion paths I have created them in Dev environment and also updated in [spreadsheet](https://docs.google.com/spreadsheets/d/1i2gLyWd6SPYSWDj_OWh3mjGhh3Px-md0/edit#gid=1651

[2021-01-12 14:03] jemacchi commented on #458
@simboss space on topbar/header it's there since in the decorator xml associated file, the size is 1855.

![image](https://user-images.githubusercontent.com/1171099/104323668-3508ed00-54c5-11eb-944c-03e3e10cd91a.png)

It will continuosly happen as much as width of requested download is bigger than the value defined in the header. Similarly to what it's happening with the bottom_bar, an approach wo

[2021-01-12 14:19] simboss commented on #458
@jemacchi please, liase with @randomorder and put this to 10000 as well.
Please, update the legend decorator document with these tricks before we send it to EUM.

[2021-01-12 14:24] randomorder commented on #436
Thanks for reporting, that shuold be fine. Colons in directory names are undesirable. I'd just amend the spreadsheet @jemacchi unless you are against it @simboss

[2021-01-12 14:29] simboss commented on #436
I agree with @randomorder semicolons in path is a big NO:NO.

I mean @jemacchi just look at the other paths and replace : with _ like it has been done up to now.

[2021-01-12 15:02] #448 closed

[2021-01-12 15:04] randomorder commented on #444
deployed in VAL

[2021-01-12 15:06] randomorder commented on #446
deployed in VAL

[2021-01-12 15:15] randomorder commented on #450
Airmass looks good enough to me. @jemacchi let's wrap this up and submit 2 Merge Requests:
1 - for the adoption of the MIXED format using regular PNGs for all layers
2 - additive to MR#1 that changes the configuration for Airmass to use PNG8. We'll eventually adopt it for more layers in the future
https://gitlab.cgi-dev.de/eows/wms/helm-charts/blob/master/charts/wms-geoserver/configFiles/mapcache.

[2021-01-12 16:19] jemacchi commented on #458
@simboss  @randomorder
[Document updated](https://docs.google.com/document/d/1p3BG3JR3b4zUF6O6m16Cgvb1VWhfD1lVRJhCyxzwd10/edit#) now using same approach as per bottom_bar image.

Updated in Dev env settings.

[2021-01-12 18:30] jemacchi commented on #450
@randomorder

MR step 1.   https://gitlab.cgi-dev.de/eows/wms/helm-charts/merge_requests/14

[2021-01-12 19:46] jemacchi commented on #450
@randomorder
For step 2, reference is https://gitlab.cgi-dev.de/eows/wms/helm-charts/merge_requests/14/commits  (the 2nd commit)
Let me know if MRs in this way are ok for you.

[2021-01-12 20:08] randomorder commented on #450
Please subit 2 separate MRs if possible @jemacchi

We want to allow for 2 distinct merge actions and 2 validations.

The reasoning behind this is, should Eumetsat reject png8 for airmass, we are still able to roll out the mixed format for mapcache.

[2021-01-12 20:29] jemacchi commented on #450
@randomorder done !  For PNG8 we have a different branch and so a different MR (additive to step 1 branch)

https://gitlab.cgi-dev.de/eows/wms/helm-charts/merge_requests/15

[2021-01-13 08:26] randomorder commented on #422
we can close this one, right @lpasquali ?

[2021-01-13 08:27] randomorder commented on #364
moving to test

[2021-01-13 08:27] #423 closed

[2021-01-13 08:40] lpasquali commented on #422
As we agreed I documented all the possible GET requests to the operator API to check for status information, this part should be satisfied, but it could be useful to integrate something as we deploy the prometheus-operator-ui so the answer is yes, but we'll probably re-touch the document about that.

[2021-01-13 09:32] randomorder commented on #458
@jemacchi can you tell me exactly what files have changed and how?
I want to report to CGI

[2021-01-13 09:36] #422 closed

[2021-01-13 12:53] jemacchi commented on #458
@randomorder

Deleted:
 - bg-FBFBFB.png

Created:
 - bg_fbfbfb_10kx120.png

Modified:
- footer25.xml
- footer30.xml
- footer60.xml

[2021-01-13 15:15] randomorder commented on #389
Hey @jemacchi

Unlike what Fabrizio Borgia did in his script above, we don't want to use the modification time of the files to decide wether or not to remove the file, we want to parse the TIMEstamp that is embedded in the name of the directories:
![image](https://user-images.githubusercontent.com/5264230/104470203-c194d780-55b9-11eb-84ca-88e9e8b6b45d.png)

I would use a [CronJob](https://kubernet

[2021-01-13 17:06] randomorder commented on #389
Adding to the above @jemacchi
We want to have visibility on what the script is doing in terms of logging

This script will take care of the Mapcache cached tiles. For GWC cached tiles I'll create a separate issue

[2021-01-16 19:55] simboss opened #460 "Issue with GeoTiff and No Data #1"
**Original GeoTiff** [here](https://www.dropbox.com/s/av66cw7kqdkc7sz/WideAreaCoverage_RGBNatColour_PlateCarree_2011010000.tif?dl=0).
**Optimized GeoTiff** [here](https://www.dropbox.com/s/785sdb99itokdff/WideAreaCoverage_RGBNatColour_PlateCarree_2011010000_opt.tif?dl=0).
**Optimizations steps** as follows:
* gdal_translate -co COMPRESS=DEFLATE -co TILED=YES -co BLOCKXSIZE=512 -co BLOCKYSIZE=512 -

[2021-01-17 22:10] simboss opened #461 "Issue with GeoTiff and No Data #2"
**Original GeoTiff** [here](https://www.dropbox.com/s/2uua94pf2vq44vq/WideAreaCoverage_RGBAirmass_PlateCarree_2011010000.tif?dl=0).
**Optimized GeoTiff** [here](https://www.dropbox.com/s/21caa939t0xpugg/WideAreaCoverage_RGBAirmass_PlateCarree_2011010000_opt.tif?dl=0).
Optimizations steps as follows:

- gdal_translate -co "TILED=YES" -co "BLOCKXSIZE=512" -co "BLOCKYSIZE=512" -mo "NO_DATA_VALUES=0 0

[2021-01-18 09:17] dromagnoli commented on #460
@simboss

Checking the metadata once processed with that command I have noticed that the NODATA_VALUES metadata was not applied.
So I have just spotted bad syntax.

the metadata part should be:
-mo NODATA_VALUES="0 0 0"
(notice the = sign for the assignment).

whilst the used command isn't properly setting the value.
I have tested locally and I don't see these weird rendering.
Could you please ret

[2021-01-18 09:33] dromagnoli commented on #461
Argh!
the metadata flag is wrong :)

-mo "NO_DATA_VALUES=0 0 0 "

It should be:

-mo "NODATA_VALUES=0 0 0 "

with just one underscore between NODATA and VALUES :)

Once fixed, it worked on my test

[2021-01-18 09:59] simboss commented on #461
@dromagnoli what about the -a no_data shall I do anything with it?

I mean, do I need to add it or can I simply ignore it since we have no data in the original files?

[2021-01-18 10:02] dromagnoli commented on #461
I would remove that piece since it's already there

[2021-01-18 13:40] #421 closed

[2021-01-18 13:50] randomorder commented on #425
Waiting for the cluster to be set up in VAL and OPE to move on with this

[2021-01-18 13:59] randomorder commented on #359
can you check this made it all the way to OPE @jemacchi ? https://view.eumetsat.int/

[2021-01-18 14:00] randomorder commented on #455
can we close this one @simboss ?

[2021-01-18 14:05] #455 closed

[2021-01-18 15:47] jemacchi commented on #359
@randomorder  I have checked it in prod, but it seems that latest updates on layout files are not there (I'm referring to this [issue](https://github.com/geosolutions-it/eumetsat-EOWS/issues/458) ).
This is current result from a map download (for a couple of layers). It seems that issue 485 is still pending to be applied (you can see that header it's still not covering 100% of width).

![Eumetsat_

[2021-01-18 15:48] simboss commented on #359
@jemacchi bug them view JIRA and email if needed.
Please, take responsibility to have this reach production properly...

[2021-01-18 16:48] #460 closed

[2021-01-18 16:49] #461 closed

[2021-01-18 18:06] jemacchi commented on #359
@simboss @randomorder
I have created a ticket in [JIRA](https://cgi-pathfinders.atlassian.net/browse/W9-36).
Based on your comments @randomorder I added the link to commit that should fix the issue (so they can track that it's still pending for deployment).
Please let me know if you find things I should consider when creating such kind of tickets (ie. codes naming conventions, etc)

[2021-01-19 17:30] jemacchi commented on #389
@randomorder
Status: I have all the main bash commands which allows to handle date parsing ready, so now working on a script that "merges" that and allow me to clean caches. Hope today to get the main script done, and then testing as much as possible that in dev environment (ETA: maybe today/tomorrow and I will get it done, if I dont find any trouble)

script configuration file will look like (nam

[2021-01-19 17:32] randomorder opened #462 "Add New Collections / Layers to Web Client"
Understand how to and add new collections and layers to Eumetview.

Pointers to config files by Cesare Rossi here: https://cgi-pathfinders.atlassian.net/browse/W9-39

DRAFT Document to expand and complete [here](https://docs.google.com/document/d/1VPCjq2B3mKowwjHxntZXsT8q9YXUsZTlN143V3moI38/edit)

[2021-01-19 18:16] randomorder commented on #462
What we want to achieve here is understand and document how to perform the task @jemacchi

Check the ticker in description and ask questions in the ticket to address what is unclear.

[2021-01-19 18:30] jemacchi commented on #462
@randomorder   can you share doc with me ?

[2021-01-19 18:41] randomorder commented on #450
https://cgi-pathfinders.atlassian.net/browse/W9-42

[2021-01-19 20:21] jemacchi commented on #389
@randomorder
[Here](https://github.com/geosolutions-it/eumetsat-EOWS/pull/463) you can find the PR about script.

I think that it covers what we expect from it. Tested on DEV environment in mapcache pods and it's working (manual execution)
I will need your assistance regarding setting it from kubernetes.

[2021-01-20 11:32] randomorder commented on #450
We also going to need a MR for the client config @jemacchi to use PNG from the client application
by changing this file https://gitlab.cgi-dev.de/eows/wms/wms-ui/blob/development/assets/data/productDecorations.json

Remember, **only** for the layers that are cached in mapcache, not for all layers

[2021-01-20 18:43] jemacchi commented on #462
@randomorder  I followed instructions in the [Draft Doc](https://docs.google.com/document/d/1VPCjq2B3mKowwjHxntZXsT8q9YXUsZTlN143V3moI38/edit) in order to apply changes based on this [issue](https://github.com/geosolutions-it/eumetsat-EOWS/issues/450#issuecomment-763541818)

For layers configuration edition document it's clear enough.
For some other configuration tasks mentioned [here](https://cgi

[2021-01-20 19:06] jemacchi commented on #450
@randomorder  [MR](https://gitlab.cgi-dev.de/eows/wms/wms-ui/merge_requests/48) created and attached to this [ticket](https://cgi-pathfinders.atlassian.net/browse/W9-42)

[2021-01-21 09:34] #349 closed

[2021-01-21 09:34] #348 closed

[2021-01-21 09:34] #351 closed

[2021-01-21 13:51] jemacchi commented on #462
@randomorder added some samples in [documentation](https://docs.google.com/document/d/1VPCjq2B3mKowwjHxntZXsT8q9YXUsZTlN143V3moI38/edit#heading=h.hpvkr3wxmvs0).

Moving issue for review.

[2021-01-21 15:37] randomorder commented on #462
Please check my comments and add the following two layers as requested by @simboss
- mumi:wideareacoverage_rgbnatcolour
- mumi:wideareacoverage_rgb_natural_jpeg

[2021-01-21 16:08] jemacchi commented on #462
@randomorder
about those 2 layers:
- i can see them in geoserver master DEV (but disabled)
- do you know the wms-ui code I should use ? (basically EO:EUM:DAT:somethinghere , but need some reference about naming conventions if required)
- should I add them in the mapcache config too ?
- last, there is a difference on name for the rgbnatural layer (at least in dev env)

![image](https://user-images.

[2021-01-21 16:53] randomorder commented on #462
That's what I am asking in the GDoc and is part od the assignement of this issue :)
You should ask [here](https://cgi-pathfinders.atlassian.net/browse/W9-39)
In the meantime try to put some example values and see if it works

Yes please, these are free layers AFAIK

Check the spreadsheet. If not availble in the spreadsheet use the name reported in geoserver

[2021-01-21 19:28] jemacchi commented on #462
done (question in doc and also reviewed spreadsheet)

There is a difference between layers names in spreadsheet and geoserver/mapcache files as you can see below (so I'm adjusting spreadsheet to match defined in geoserver)

Original spreadsheet:
![image](https://user-images.githubusercontent.com/1171099/105401631-2f1db500-5c05-11eb-9e8f-c43a8d7b7379.png)

Geoserver (in DEV):

![image](https://user

[2021-01-21 20:16] jemacchi commented on #462
@randomorder  some other stuff. Despite this mumi:wideareacoverage_rgb_natural_jpeg layer exists in Geoserver dev environment, it's not part of the [spreadsheet](https://docs.google.com/spreadsheets/d/1i2gLyWd6SPYSWDj_OWh3mjGhh3Px-md0/edit#gid=420042348)  and there are no codes for it.

Also added a question for Cesare about adding a new layer, and how that it reflects in the Product Search dialog

[2021-01-22 08:44] #382 closed

[2021-01-22 13:54] jemacchi commented on #462
@randomorder based on Stefano comments [here](https://cgi-pathfinders.atlassian.net/browse/W9-39?focusedCommentId=14427) I think that in order to be able to see those [2 layers ](https://github.com/geosolutions-it/eumetsat-EOWS/issues/462#issuecomment-764728297) completly integrated in the client, it's required to have those 2 layers included in what Stefano calls  "the product navigator catalogue

[2021-01-22 13:55] randomorder commented on #391
I've applied the change for the download limit on the master instance in DEV: https://gitlab.cgi-dev.de/eows/wms/geoserver-data-dir/merge_requests/1

We want to test it before merging the MR

[2021-01-22 14:59] randomorder commented on #462
Please check the feedback from CGI

[2021-01-22 15:21] jemacchi commented on #462
I checked when saw the email and the attached spreadsheet (sent on email) still contains an error (I mentioned that [here](https://github.com/geosolutions-it/eumetsat-EOWS/issues/462#issuecomment-764882857). I fixed names in [the copy of the spreadsheet](https://docs.google.com/spreadsheets/d/1i2gLyWd6SPYSWDj_OWh3mjGhh3Px-md0/edit#gid=420042348) that we have)
Also it does not contain the definitio

[2021-01-22 17:07] randomorder commented on #391
@jemacchi

Can you please test WCS version [1.0.0](https://view.cgi-dev.de/geoserver/ows?service=wcs&version=1.0.0&request=GetCapabilities) and [2.0.1](https://view.cgi-dev.de/geoserver/ows?service=WCS&version=2.0.1&request=GetCapabilities) and put it under pressure we want to understand if the limits we set are good enough.

Unfortunately this is not directly testable by the Eum client app so you

[2021-01-22 17:08] randomorder commented on #391
Moving to block. We have to wait for the deploy in VAL on Mon to move on with this to prevent this conf changed to be rolled out directly to VAL and OPE before testing

[2021-01-22 18:03] jemacchi commented on #391
@randomorder
I tested layers (on dev) enabling Geoserver and the decoration.json file, using browser and simulating WMS calls (it works, but of course it's a manual test). I will try with QGIS.

ok

[2021-01-22 20:10] randomorder commented on #450
@jemacchi @simboss
Merged the work for MapCache mixed format and manually updated the web client configuration (I don't have the grants to merge, I asked earlier today).

We can test now in DEV but the k8s cluster will be shut down in ~1hr I am afraid :(

Note: ATM Airmass is the only one stored as 8 bit PNG this is Not visible from the GetMap req where image format is always "png" . 8bit vs 24bit

[2021-01-25 10:01] simboss commented on #450
@jemacchi I tried to test this today with @randomorder but apparently the config is gone.
Please, when you start do a timeboxed investigation (max 1h) to understand what happened.
Check the [deploy pipeline](https://gitlab.cgi-dev.de/eows/wms/helm-charts/pipelines) and what happens when they shut down machines, then come back with your investigation.

In any case, if the pipeline route takes time

[2021-01-25 14:24] randomorder commented on #462
is this still pending @jemacchi ? did you get the information you need?

[2021-01-25 14:45] jemacchi commented on #462
@randomorder
yes, still pending.
I think that we need to sync with @simboss  first (about the "_jpeg" layer and the names).

[2021-01-25 15:33] jemacchi commented on #450
@randomorder @simboss
Found it. In dev the  k8s configmap  was pointing to mapcache-cm instead of mapcache-config. Changed it in the statefulset for mapcache and restarted and it's now getting the config for PNG8 in Airmass.
(hint: hitting a tile, downloading it and running "file tile.png" should point you to a "PNG image data, 512 x 512, 8-bit colormap, non-interlaced" result, where 8-bit colorma

[2021-01-25 19:51] jemacchi commented on #450
@simboss I was looking at the JPEG result issue while calling backgrounds:ne_background layers (we were getting png instead of jpeg), and I think that what we saw in call (while you shared screen) it was the behavior in production environment ( https://view.eumetsat.int/productviewer?v=default ). wrong env.

**In development environment, behavior is working good.**

**Notes:**
That is: background

[2021-01-25 20:33] simboss commented on #450
@jemacchi long story short, yes we were looking at the wrong environment.

That said, in dev if you check the requests to the overlays layer (see in the TOC the **Overlays** item and subitems) are being served by GWC rathern than MapCache.
This means they are missing form the configuration of MapCache that @lpasquali put together, I presume. Please, open a separate issue and investigate.
This mean

[2021-01-25 21:02] jemacchi commented on #450
@simboss  @randomorder  @lpasquali

Yes, and that is because overlays layers are hardcoded to call WMS with format=image/png8.  Since MC does not recognize the png8 as a format, then is sending it to the geoserver behind it.
Below section of code in WMS-UI that is doing that

![image](https://user-images.githubusercontent.com/1171099/105765532-57741f00-5f37-11eb-9bab-8db3e4eba180.png)

note: somet

[2021-01-26 13:20] randomorder commented on #389
What about the [kubernetes CronJob](https://github.com/geosolutions-it/eumetsat-EOWS/issues/389#issuecomment-759514145) @jemacchi ?

[2021-01-26 13:44] jemacchi commented on #389
That's something I have to read about on how it should be implemented in K8S (that is reason I mentioned [here](https://github.com/geosolutions-it/eumetsat-EOWS/issues/389#issuecomment-763108235) that probably I will need your support, just to be pointed in right direction, and avoid spending more effort than necessary)

Correct me if wrong, but I should use something like this https://kubernetes.

[2021-01-26 14:18] randomorder commented on #389
You should have the information you need to move on now. Keep us posted

[2021-01-26 18:06] jemacchi commented on #436
@simboss  based on Fabrizio comments regarding  time attribute value (o email with subject: "**WMS WP9: Data Specification for EUMETView NG + GII Legends + Samples**"):

I have added a section in document as follow [here](https://docs.google.com/document/d/1lOEm102msE6-zec_o21Uy7iVfdqO4ryaLn1c1b_S6Dc/edit#heading=h.78px74juyfe7)
keeping the old transformation (just purpose of documentation sample)

[2021-01-26 18:14] simboss commented on #436
@jemacchi I think this part is missing

[2021-01-26 18:32] jemacchi commented on #436
@simboss
please check
https://view.cgi-dev.de/geoserver-master/eps/wms?service=WMS&version=1.1.0&request=GetMap&layers=eps%3Am01_orbital_tracks&bbox=-180.0%2C-90.0%2C180.0%2C90.0&width=768&height=384&srs=EPSG%3A4326&format=application/openlayers

Styles defined.

[2021-01-27 11:06] simboss commented on #359
This is still in dev!

[2021-01-27 11:09] simboss commented on #389
@jemacchi we need to speed this up, it should have been completed by now.

[2021-01-27 11:11] simboss commented on #462
Close the cache cleaning script then we need to push on this one as well.
So come back to me once we have the other things done.